@import '_variables.scss';


.wp-admin {

	// row for longforms
	.longform-admin-rows {
		.acf-flexible-content {
			.layout {
				background-color: $gray-lighter;
				&.-colapsed {
					background-color: $gray-light;
				}
			}
		}
	}

}
