@import '_variables.scss';

.mce-content-body {

	h1, h2, h3, h4, h5, h6 {
		font-family: Helvetica, sans-serif;
		font-weight: 700;
	}

	p {
		font-family: Helvetica, sans-serif;
		font-size: 14px;
		line-height: 24px;
	}

	blockquote {
		padding: 3px 15px;
		border-left: 3px solid $gray-light;
		clear: $gray-medium;
	}


}


.serif {
	font-family: $font-family-serif, serif !important;
}

.sans-serif-suisse {
	font-family: $font-sans, sans-serif !important;
}

.sans-serif-circular {
	font-family: $font-sans-alt, sans-serif !important;
}

.no-margin {
	margin: 0;
}
