
///
/// Les vols d'Alexis
///

.flights-deals {
  p {
    u {
      font-family: $headings-font-family;
      font-size: $font-size-h3;
      text-decoration: none;
      font-weight: 700;
      margin-top: 50px;
      margin-bottom: 0px;
      display: block;
      // color: $color-gold;
      // text-transform: lowercase;
    }
    i {
      font-style: normal;
      font-size: $font-size-h4;
      font-weight: 700;
    }
    b {
      font-weight: normal;
    }
  }
}