/**
* GetSocial Hacks!
*/

html .gs-buttons.gs-round a[class*="gs-"] {
	// border-radius: 0 !important;
}

//
//
//

.shares-count {
  // background: #3B5998;
  // padding: 3px 10px;
  // border-radius: 2px;
  color: #3B5998;
  font-family: $font-family-sans-serif-alt;
  font-weight: bold;
  i {
    margin-left: 2px;
  }
}

/**
* Share Widgets
*/

.share-widgets {
	margin-top: 15px;

	h6 {
		font-weight: 500;
		margin-bottom: $padding-base-vertical;
        font-family: $font-family-sans-serif;
        font-size: 13px;
	}

	ul {
		padding: 0;
	}

	li {
		margin: 0 5px 0 0;
		padding: 0;
	}

	.btn-share {
		display: inline-block;
		border-radius: 50%;
		@include square(35px);
		background-color: $gray-light;
		text-align: center;
		position: relative;
		color: #fff;
        margin-left: 3px;
        @include transition(background 500ms);

		i {
			font-size: 18px;
			@include centered-with-parent($top: 57%);
		}

		&--facebook {
			@extend .btn-share;
			background-color: #3b5998;
		}
		&--twitter {
			@extend .btn-share;
			background-color: #326ada;
		}
		&--forward {
			@extend .btn-share;
			background-color: $gray-light;
			color: $gray-dark !important;
		}

        &:hover {
            background-color: #000;
			color: #fff;
        }

	}

	/**
	* Share Count
	*/
	.shares-count {
		color: $gray-medium;
		i {
			position: relative;
			margin-right: 4px;
			top: 1px;
		}
	}

	@mixin horizontal-share-widgets() {

	}

	.horizontal {
		@include horizontal-share-widgets();
	}

}
