/**
* Swiper lib overrides
*/
.swiper-container {

    // make slider content visible outside their bounding boxes
    &.swiper-container-horizontal {
        overflow: visible;
        .swiper-wrapper {
            cursor: ew-resize;
        }

        @media (max-width: $screen-xs-max) {
            // overflow: hidden;
        }

    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 100%;
        background: transparent;
        opacity: 1;
        border: 2px solid $gray-medium;
        &.swiper-pagination-bullet-active {
            background-color: $gray-medium;
        }
        @media (max-width: $screen-xs-max) {
            width: 9px;
            height: 9px;
            border-width: 1px;
        }
    }


}



/**
* Sliders defaults
*/

.slider--default {
    position: relative;

    // hidden on load
    visibility: hidden;

    &.ready {
      visibility: visible;
    }

    // sep line at bottom
    hr {
      border-color: $gray-light;
    }

    /**
    * Pagination
    */
    .slider--pagination {
        position: static;
        // padding-top: 10px;
        // padding-bottom: $padding-large-vertical;
        padding-top: 50px;
        padding-bottom: 45px;
        @media (max-width: $screen-xs-max) {
            padding-top: 30px;
            padding-bottom: 15px;
        }
        &.inverted {
          .swiper-pagination-bullet {
            background-color: $gray-light;
            opacity: 0.25;
            border: none;
            &.swiper-pagination-bullet-active {
              opacity: 1;
              border: none;
            }
          }
        }
    }

    /**
    * slide
    */
    .swiper-slide:last-child {
        // margin-right: 0 !important;
        // border: 1px solid red;
        // margin-right: 100px;
    }

    /**
    * Image type with variable slide width
    */
    .slider--image {
        display: inline-block;
        width: auto;
        // margin-bottom: $padding-large-vertical;

        @media (max-width: $screen-xs-max) {
            // height: 100vh;
        }

        picture {
            display: block;
            margin: 0;

            // @media (max-width: $screen-xs-max) {
            //     // height: 20vh;
            //     overflow: hidden;
            //     max-height: 80vw;
            // }

            img {
                min-height: 50vw;
                max-height: 50vw;
                max-width: inherit !important; // makes Firefox and René happy.
                width: auto;
                height: inherit !important;
                @media (min-width: $screen-lg) {
                    min-height: 40vw;
                    max-height: 40vw;
                }
                @media (max-width: $screen-xs-max) {
                    // min-height: inherit;
                    // max-height: inherit;
                    // height: 100%;
                    min-height: 55vw;
                    max-height: 55vw;
                }
            }
        }

        figcaption {
            clear: both;
            display: inline-block;
            width: auto;
            float: left;
            max-width: 450px;
            padding-top: 20px !important;
            padding-left: 50px;
            position: relative;
            display: inline-block;
            font-size: 13px;
            color: $gray-medium;
            margin: 0 0 4px 0;
            font-family: $font-sans-alt !important;

            p {
                display: inline-block;
                font-size: 13px;
                line-height: 20px;
                max-width: 100%;
                @media (max-width: $screen-xs-max) {
                    max-width: auto;
                    display: none !important;
                    border: 1px solid red;
                }
            }

            ins {
                position: absolute;
                left: 0;
                top: 20px;
                text-decoration: none;
                font-family: $font-sans-alt;
            }

        }
    }

    .slider--arrow {
        position: absolute;
        top: 45%;
        z-index: $zindex-navbar + 100;
        font-size: 50px;
        color: #fff !important;
        @include translate(0,-50%);
        @include transition(all 500ms);

        i {
          position: relative;
          display: inline-block;
        }

        &--prev {
            @extend .slider--arrow;
            left: $grid-gutter-width/3;
            i {
              left: -2px;
            }
        }

        &--next {
            @extend .slider--arrow;
            right: $grid-gutter-width/3;
            i {
              right: -2px;
            }
        }

        &:hover {
            color: #fff;
        }

        &.swiper-button-disabled {
            opacity: 0 !important;
            pointer-events: none;
        }

        // in circle
        &.in-circle {
          background-color: $gray-light;
          box-shadow: 0 0 20px rgba(0,0,0,0.5);
          color: $gray;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          text-align: center;

          i {
            color: $gray-dark;
            font-size: 34px;
            @include translate(0,-8%);
          }

          &:after {

          }

          &.swiper-button-disabled {
            opacity: 0 !important;
            pointer-events: none;
          }
          &:hover {
            background-color: $gray-lighter;
            box-shadow: 0 0 30px rgba(0,0,0,0.75);
          }
        }

    }

    // left or right shade under buttons
    .slider--shade {
      content: "";
      display: block;
      height: 100%;
      width: 200px;
      position: absolute;
      top: 0;
      z-index: $zindex-navbar;
      pointer-events: none;
      &.left {
        left: 0;
      }
      &.right {
        right: $grid-gutter-width/2 * -1;
        @include gradient-horizontal(transparent, $gray);
      }
    }

    /**
    * video player in slider
    */
    .video-player {
        hgroup {
           .h2 {
              font-size: 28px !important;
           }
       }
    }


}
