/**
* Video player defaults
*/

@mixin video-iframe() {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   pointer-events: none;
   z-index: $zindex-navbar - 1;
   @include transition(opacity 500ms);
   &.visible {
      opacity: 1;
      pointer-events: all;
   }
}

.video-player {
   @include box-maker(56.25%);
   @include box-shadow(3px 3px 17px rgba(0,0,0,0.55));
   @include box-gradient-shadow($direction: 'bottom', $gradient: rgba(0,0,0,0.90));
   color: #fff;

   @media (max-width: $screen-xs-max) {
       @include box-shadow(3px 3px 10px rgba(0,0,0,0.35));
   }

   a {
      color: #fff;
   }

 

   hgroup {
      position: absolute;
      z-index: 2;
      left: $grid-gutter-width/2;
      bottom: $grid-gutter-width/2;

      // entry title
      .entry-title {
          margin-top: 0;
          margin-bottom: 5px;
          font-size: 32px !important;
          line-height: 1.15;
          font-weight: 700;
          max-width: 75%
      }

      // entry categories
      .entry-category {
          margin: 0;
          font-weight: 400;
          font-size: 14px;
          text-transform: inherit;
          color: #000;
          font-family: $font-family-sans-serif;
      }

      @media (max-width: $screen-xs-max) {
          left: $grid-gutter-width/4;
          bottom: $grid-gutter-width/4;
          .entry-title {
              font-size: 20px !important;
          }
      }

   }

   // embeded iframe
   iframe {
      @include video-iframe;
   }

}

// videi player div with iframe
.video-player--embed {
  @include box-maker(56.25%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;

  iframe {
    @include video-iframe;
  }

    .content {
        height: 100% !important;
    }

  &.visible {
    pointer-events: all;
    opacity: 1;
    iframe {
      pointer-events: all;
      opacity: 1;
    }
  }


}



/**
* Video duration
*/

.video--duration {
   position: absolute;
   right: $grid-gutter-width/2;
   bottom: $grid-gutter-width/2;
   z-index: 1;
   @media (max-width: $screen-xs-max) {
       right: $grid-gutter-width/4;
       bottom: $grid-gutter-width/4;
   }
}
