/**
* Proportionnal Box maker
*/


@mixin box-maker($percent: 100%) {
    display: block;
    position: relative;

    &:before {
        content: "";
        display: block;
        padding-top: $percent;
    }

    > .content {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
    }

}

.box {
    &--square {
        @include box-maker(100%);
    }
    &--quarter-square {
        @include box-maker(25%);
    }
    &--third-square {
        @include box-maker(33%);
    }
    &--half-square {
        @include box-maker(50%);
    }
    &--three-quarter {
        @include box-maker(75%);
    }
    &--square {
        @include box-maker(100%);
    }
    &--sixteen-nine {
        @include box-maker(56.25%);
    }
    &--portrait {
        @include box-maker(134.75%);
    }
}
