/**
* Figure and background position related
*/

/*
	---------------------------
	Lazy loaded element
	---------------------------
*/

.lazy-loaded-with-animation {
	background-color: $gray-lighter;
	// background-image: url(../images/misc/loader.gif); TODO
	background-size: 25px auto !important;
	background-position: center center;
	background-repeat: no-repeat;

	&.no-spinner {
		background-image: none !important;
	}

	.lazy-loaded--element {
		opacity: 0;
		@include transition(opacity 500ms);
		&.loaded {
			opacity: 1;
		}
	}
}



/*
	---------------------------
	background image cover
	---------------------------
*/
.bg-cover {
	background-size: cover;
	background-position: center center;
	background-color: $gray-dark;
	overflow: hidden;
	&.b-loaded {
		img.preload-pixel {
			opacity: 0;
		}
	}
}




/**
* preload pixel blur image
*/
img.preload-pixel {
	width: 120%;
	position: absolute;
	top: 50%;
	left: 50%;
	height: auto;
	@include translate3d(-50%,-50%,0);
	@include transition(opacity 150ms);
	-webkit-filter: blur(20px);
	filter: blur(20px);
	pointer-events: none;
	z-index: 0;
	@media (max-width: $screen-xs-max) {
		-webkit-filter: blur(0);
		filter: blur(0);
		display: none;
	}
}

/*
	---------------------------
	Filled bg image
	---------------------------
*/
.bg-filled {
	background-size: cover;
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: hidden;
	&.b-loaded {
		img.preload-pixel {
			opacity: 0;
		}
	}
}

/*
	---------------------------
	Filled video div
	---------------------------
*/
[data-video-bg] {

	.video-bg {
		z-index: 0 !important;
		video {
			opacity: 0 !important;
			@include transition(opacity 500ms);
			&.canplay {
				opacity: 1 !important;
				visibility: visible !important;
			}
		}
	}

	.desktop-device & {
		background: $gray-darkest url(../img/misc/loader.gif) no-repeat $grid-gutter-width $grid-gutter-width*2 !important;
	}

	video {
		object-fit: cover;
	}

}

.video-bg-caption {
    padding: $padding-base-vertical/2 $grid-gutter-width/2;
    display: block;
    margin: 0 0 4px 0;
    font-family: $font-family-sans-serif;
    clear: both;

    p {
        font-size: 13px !important;
        color: $gray-medium;
    }

    @media (max-width: $screen-xs-max) {
        display: none;
    }
}


/*
	---------------------------
	background image centered
	---------------------------
*/
.bg-centered {
	background-position: center center;
}



/*
	---------------------------
	avoid background repeat
	---------------------------
*/
.bg-no-repeat {
	background-repeat: no-repeat;
}
