@font-face {
  font-family: "iconfont";
  src: url('/static/fonts/iconfont/iconfont.eot');
  src: url('/static/fonts/iconfont/iconfont.eot?#iefix') format('eot'),
    url('/static/fonts/iconfont/iconfont.woff') format('woff'),
    url('/static/fonts/iconfont/iconfont.ttf') format('truetype'),
    url('/static/fonts/iconfont/iconfont.svg#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

.iconfont:before {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-arrow-down:before { content: "\EA01" }
.iconfont-arrow-left:before { content: "\EA02" }
.iconfont-arrow-right:before { content: "\EA03" }
.iconfont-arrow-up:before { content: "\EA04" }
.iconfont-calendar-checkbox:before { content: "\EA05" }
.iconfont-calendar:before { content: "\EA06" }
.iconfont-location:before { content: "\EA07" }
.iconfont-picture:before { content: "\EA08" }
.iconfont-pin:before { content: "\EA09" }
.iconfont-share:before { content: "\EA0A" }
.iconfont-snowflake:before { content: "\EA0B" }
.iconfont-tag:before { content: "\EA0C" }
