
/**
* App specitif Mixins
*/

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

// remove any style from a list
@mixin list-unstyled() {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        margin: 0;
        padding: 0;
    }
}

// vertical centered
@mixin vertical-centered($position: absolute, $top: 50%) {
    position: $position;
    top: $top;
    -webkit-filter: blur(0);
    @include translate(0,-#{$top});
}

@mixin centered-with-parent($position: absolute, $top: 50%, $left: 50%) {
    position: $position;
    top: $top;
    left: $left;
    -webkit-filter: blur(0);
    @include translate(-50%,-50%);
}

/// Border-radius vendor prefixes
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

/**
* Create a top or bottom border for Bootstrap's grid cell
*/
@mixin box-gradient-shadow($direction: 'top', $gradient: rgba(0,0,0,0.85), $height: 75%) {
    position: relative;

    @if $direction == 'top' {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 40%;
            top: 0;
            bottom: 0;
            z-index: 0;
            @include gradient-vertical($gradient, transparent);
        }
    }

    @if $direction == 'bottom' {
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: $height;
            left: 0;
            bottom: 0;
            z-index: 0;
            @include gradient-vertical(transparent, $gradient);
        }
    }

    @if $direction == 'both' {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 25%;
            left: 0;
            top: 0;
            z-index: 0;
            @include gradient-vertical(rgba(0,0,0,0.30), transparent);
        }
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: $height;
            left: 0;
            bottom: 0;
            z-index: 0;
            @include gradient-vertical(transparent, $gradient);
        }
    }

}


/**
* Create a top or bottom border for Bootstrap's grid cell
*/
@mixin grid-cell-border($direction: 'top', $border-width: 1px, $border-color: $gray-base) {
    position: relative;

    @if $direction == 'top' {
        &:before {
            content: "";
            display: block;
            height: 1px;
            border-top: $border-width solid $border-color;
            position: absolute;
            left: $grid-gutter-width/2;
            right: $grid-gutter-width/2;
            top: 0;
        }
    }

    @if $direction == 'bottom' {
        &:after {
            content: "";
            display: block;
            height: 1px;
            border-top: $border-width solid $border-color;
            position: absolute;
            left: $grid-gutter-width/2;
            right: $grid-gutter-width/2;
            bottom: 0;
        }
    }


}
