/*
	---------------------------
	Easing variables
	---------------------------
*/

$easeInQuad:        cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic:       cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart:       cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint:       cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine:        cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo:        cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc:        cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack:        cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutQuad:       cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic:      cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart:      cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint:      cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutSine:       cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo:       cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc:       cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutBack:       cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutQuad:     cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic:    cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart:    cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint:    cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine:     cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo:     cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc:     cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutBack:     cubic-bezier(0.680, -0.550, 0.265, 1.550);

//
// Utility classes
// --------------------------------------------------

// Non-selected elements
// -------------------------

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently not supported by any browser */
  &.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/**
* color utils
*/



// Misc
// -------------------------

.inner-relative,
.relative-inner {
  position: relative;
}

.auto-height {
  height: 100%;
}

.auto-height-relative {
  height: 100%;
  position: relative;
}

.no-margin {
  margin: 0 !important;
  &--top {
    margin-top: 0 !important;
  }
  &--bottom {
    margin-bottom: 0 !important;
  }
}

.no-padding {
  padding: 0 !important;

  // responsive rules
  &--min-xs {
    @media (min-width: $screen-xs-max) {
      padding: 0 !important;
    }
  }
  &--min-sm {
    @media (min-width: $screen-sm-max) {
      padding: 0 !important;
    }
  }
  &--min-md {
    @media (min-width: $screen-md-max) {
      padding: 0 !important;
    }
  }
  &--min-lg {
    @media (min-width: $screen-lg) {
      padding: 0 !important;
    }
  }

  &--max-xs {
    @media (max-width: $screen-xs-max) {
      padding: 0 !important;
    }
  }
  &--max-sm {
    @media (max-width: $screen-sm-max) {
      padding: 0 !important;
    }
  }
  &--max-md {
    @media (max-width: $screen-md-max) {
      padding: 0 !important;
    }
  }
  &--max-lg {
    @media (max-width: $screen-lg) {
      padding: 0 !important;
    }
  }

  &--left {
    padding-left: 0 !important;
    &--min-xs {
      @media (min-width: $screen-xs-max) {
        padding-left: 0 !important;
      }
    }
    &--min-sm {
      @media (min-width: $screen-sm-max) {
        padding-left: 0 !important;
      }
    }
    &--min-md {
      @media (min-width: $screen-md-max) {
        padding-left: 0 !important;
      }
    }
    &--min-lg {
      @media (min-width: $screen-lg) {
        padding-left: 0 !important;
      }
    }
    &--max-xs {
      @media (max-width: $screen-xs-max) {
        padding-left: 0 !important;
      }
    }
    &--max-sm {
      @media (max-width: $screen-sm-max) {
        padding-left: 0 !important;
      }
    }
    &--max-md {
      @media (max-width: $screen-md-max) {
        padding-left: 0 !important;
      }
    }
    &--max-lg {
      @media (max-width: $screen-lg) {
        padding-left: 0 !important;
      }
    }
  }
  &--right {
    padding-right: 0 !important;
    &--min-xs {
      @media (min-width: $screen-xs-max) {
        padding-right: 0 !important;
      }
    }
    &--min-sm {
      @media (min-width: $screen-sm-max) {
        padding-right: 0 !important;
      }
    }
    &--min-md {
      @media (min-width: $screen-md-max) {
        padding-right: 0 !important;
      }
    }
    &--min-lg {
      @media (min-width: $screen-lg) {
        padding-right: 0 !important;
      }
    }
    &--max-xs {
      @media (max-width: $screen-xs-max) {
        padding-right: 0 !important;
      }
    }
    &--max-sm {
      @media (max-width: $screen-sm-max) {
        padding-right: 0 !important;
      }
    }
    &--max-md {
      @media (max-width: $screen-md-max) {
        padding-right: 0 !important;
      }
    }
    &--max-lg {
      @media (min-width: $screen-lg) {
        padding-right: 0 !important;
      }
    }
  }



}

.no-border {
  border: none !important;
  border-width: 0 !important;
}


/**
* Text transformation
*/

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-left {
  text-align: left;
}

.text-center, .center {
  text-align: center;
}

.text-right {
  text-align: right;
}




// Floats
// -------------------------

.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}

.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.inline-block {
  display: inline-block;
  &--margin-left {
    @extend .inline-block;
    margin-left: $grid-gutter-width/2;
    @media (max-width: $screen-xs-max) {
        margin-left: $grid-gutter-width/4;
    }
  }
  &--margin-right {
    @extend .inline-block;
    margin-right: $grid-gutter-width/2;
    @media (max-width: $screen-xs-max) {
        margin-right: $grid-gutter-width/4;
    }
  }
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide;
}




// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}
