/**
* Site footer
*/

footer#site-footer {
	margin-top: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $gray-base;
	color: $gray-medium;
	font-family: $headings-font-family;

	@media (max-width: $screen-xs-max) {
		padding-top: 30px;
		padding-bottom: 30px;
		.container-fluid {
			padding-left: 0;
			padding-right: 0;
		}
		aside {
			// margin-bottom: 20px;
			hr {
				border-color: $gray-dark;
			}
		}
	}

	a {
		color: $gray-medium;
		&:hover {
			color: #fff;
		}
	}

	h3 {
		font-size: 15px;
		margin-top: 0;
	}

	/**
	* logo
	*/
	.footer--logo {
		@media (max-width: $screen-xs-max) {
			img, svg {
				max-width: 20vw;
			}
		}
	}

	/**
	* Section nav
	*/
	#menu-footer-menu {
		@include list-unstyled;
		@include content-columns(2);
		li {
			font-size: 15px;
			line-height: 32px;
			font-weight: 400;
			font-family: $font-family-sans-serif;
			a {
				// margin-bottom: 10px;
				// display: block;
				// margin-bottom: 15px;
			}
		}
	}


	/**
	* MailChimp form
	*/

	.widget_mc4wp_form_widget {
		padding-left: 50px;
		padding-right: 50px;
		@media (max-width: $screen-sm-max) {
			padding-left: 0;
			padding-right: 0;
		}

	}

	form.mc4wp-form {

		p {
			position: relative;
			font-size: 13px;
			line-height: 1.4;
		}

		label {
			display: block;
		}

		input[type='text'],
		input[type='email'] {
			border: none;
			border-radius: 4px;
			background-color: $gray-light;
			color: #fff;
			padding: 7px 10px 5px 10px;
			color: #000;
			font-size: 15px;
			width: calc(100%);
			@media (max-width: $screen-xs-max) {
				background-color: $gray-dark;
				padding: 12px 10px 10px 10px;
			}
		}

		input[type='submit'] {
			border: none;
			background-color: transparent;
			position: absolute;
			font-weight: bold;
			font-size: 15px;
			top: 7px;
			right: 15px;
			width: auto;
			padding:0;
			@include transition(color 500ms);
			&:hover {
				color: #000;
			}
			@media (max-width: $screen-xs-max) {
				top: 11px;
			}
		}
	}


	/**
	* Social  links
	*/
	#menu-social-links,
	#menu-social-links-1 {
		@include list-unstyled;
		margin-bottom: $padding-large-vertical !important;
		@media (max-width: $screen-xs-max) {
			margin-bottom: 0 !important;
		}
		li {
			display: inline-block;
			margin-right: 20px;
			font-size: 26px;
		}
	}

	/**
	* copyrights
	*/
	.copyrights {
		@media (max-width: $screen-xs-max) {
			padding-left: $grid-gutter-width/2;
		}
		img.logo {
			margin-right: 10px;
		}
	}

	/**
	* Partners
	*/
	.footer-partners {
		li {
			text-align: center;
			margin-bottom: 20px;

			@media (max-width: $screen-xs-max) {
				width: 33.3333%;
				float: left;
				padding: 0 10px;
			}

			img {
				display: inline-block;
				-webkit-filter: grayscale(1);
				filter: grayscale(1);
				opacity: 0.85;
				@include transition(opacity 250ms);
				&:hover {
					opacity: 1;
				}
			}

		}
	}

}
