/**
* Grid utils
*/


.col-centered {
	float: none;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

// fluid container with max width
.container-fluid--max-width {
	position: relative;
	&-sm {
		@extend .container-fluid--max-width;
		max-width: $screen-sm;
	}
	&-md {
		@extend .container-fluid--max-width;
		max-width: $screen-md;
	}
	&-lg {
		@extend .container-fluid--max-width;
		max-width: $screen-lg;
	}
	&-xl {
		@extend .container-fluid--max-width;
		max-width: $screen-xl;
	}
}


// remove position:relative on all bootstrap grid
[class^="col-"] {
    position: static;
}
