$header-height: 60px;

/**
* Header
*/

header#site-header {
	background: $gray-lighter;
	// padding-top: 20px;
	// padding-bottom: 16px;
	padding-right: $grid-gutter-width;
	padding-left: $grid-gutter-width;
	position: fixed;
	@include translate(0,0);
	@include transition(all 350ms);
	top: 0;
	left: 0;
	z-index: $zindex-navbar;
	width: 100%;

	@media (max-width: $screen-xs-max) {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
		height: $header-height;
		// background: #fff;
		border-bottom: 1px solid $gray-border;
	}

	.container-fluid {
		position: relative;
	}

	// with WP admin bar
	.admin-bar & {
		top: 31px;
	}

	// default for a
	a {
		@include transition(color 500ms);
		color: $gray-dark;
	}

	a:hover, a:focus, a:active {
		text-decoration: none;
	}


	/**
	* elements
	*/

	// contains logo
	hgroup.logo {
		width: 120px;
		float: left;
		padding-top: 20px;

		/**
		* logo img + svg
		*/
		img.logo, svg.logo {
			width: 86px;
			height: 18.78px;
			path {
				fill: $gray-dark;
			}
		}

		@media (max-width: $screen-xs-max) {
			width: 100%;
			text-align: center;
			float: none;
			img.logo, svg.logo {
				width: 100px;
			}
		}
	}

	// main nav with sections
	nav {
		width: auto;
		float: calc(100% - 120px);
	}

	/**
	* Burger menu
	*/
	a.burger {
		@include burger(24px, 2px, 5px);
		position: absolute;
		left: 0;
		top: 50%;
		@include translate(0,-50%);
		&.open {
			@include burger-to-cross(#000);
		}
	}

	nav.nav-secondary {
		position: absolute;
		top: 20%;
		right: 0;
		width: 120px;
		text-align: right;

		.menu-language-switch-container {
			display: inline-block;
			margin-right: 20px;
			font-size: 18px;
			@media (max-width: $screen-sm-max) {
				margin-right: 10px;
				font-size: 16px;
			}
			ul {
				display: inline-block;
				list-style: none;
				li {
					margin: 0 10px 0 0;
				}
			}
		}

	}

	// search icon
	a.nav-item--search-btn {
		width: 24px;
		height: auto;
		position: relative;
		top: 8px;
		// right: 0;
		color: #fff;
		svg {
			width: 24px;
			height: 24px;
			path {
				fill: #000;
			}
		}
	}

	/**
	* Fade up
	*/
	&.fade-up {
		@include transition(all 1000ms);
		@include translate(0,-100%);
	}

	/**
	* Faded out
	*/
	&.faded-out {
		opacity: 0;
		pointer-events: none;
	}


	/**
	* Transparent mode
	*/
	&.transparent {
		background-color: transparent;
		border-bottom: none;

		svg {
			path {
				@include transition(all 500ms);
				fill: #fff !important;
			}
		}

		a {
			color: #fff;
		}

		@media (min-width: $screen-xs-max) {
			a {
				color: #fff;
			}
		}

		a.burger {
			background-color: #fff;
			&:after,
			&:before {
				background-color: #fff;
			}
			&.open {
				background-color: transparent !important;
			}
		}
	}

	/**
	* Filled
	*/
	&.filled {
		@include translate(0,0);
		background-color: $gray-lighter;

		svg {
			path {
				@include transition(all 500ms);
				fill: #000 !important;
			}
		}

		a {
			color: inherit;
		}


		a.burger {
			background-color: #000;
			&:after,
			&:before {
				background-color: #000;
			}
			&.open {
				background-color: transparent !important;
			}
		}

	}

	/**
	* On :hover, always filled
	*/
	&:hover {
		@media (min-width: $screen-sm-max) {
			background: $gray-lighter !important;
			svg {
				path {
					@include transition(all 500ms);
					fill: $gray-dark !important;
				}
			}
			a {
				color: $gray-dark;
			}
		}
	}





}
