/**
* main nav
*/

nav.nav-primary {


	/**
	* Mobile
	*/
	@media (max-width: $screen-xs-max) {
		position: fixed;
		left: 0;
		top: $header-height;
		height: calc(100vh - #{$header-height});
		width: 100vw !important;
		background-color: #fff;
		z-index: $zindex-navbar;
		@include transition(transform 500ms $easeInOutSine);
		@include translate(-100%,0);
		overflow-y: auto;

		&.slide-in {
			@include translate(0,0);
		}

	}


	ul.main-nav--menu,
	ul#menu-main-menu {
		display: inline-block;
		@include list-unstyled();

		@media (max-width: $screen-xs-max) {
			display: block;
		}

		li.menu-item {
			display: inline-block;
			margin-right: 20px;
			font-weight: 400;
			border-bottom: 1px solid transparent;
			font-size: 16px;
			padding-top: 20px;
			padding-bottom: 19px;

			@media (max-width: $screen-xs-max) {
				display: block;
				border-bottom: 1px solid $gray-border;
				padding: 0;
				margin: 0 $grid-gutter-width/2;
				font-size: 18px;
				position: relative;
			}

			> a {
				display: block;
				padding-right: 3px;
				padding-left: 3px;
				border-bottom: 1px solid transparent;
				@media (min-width: $screen-sm-max) {
					&.active {
						border-bottom-color: $gray-medium;
					}
				}
				@media (max-width: $screen-xs-max) {
					margin-bottom: -3px;
					border: none;
					padding: $grid-gutter-width/2 $grid-gutter-width/4;
				}
			}

			// the arrow
			a.sub-menu--slide-toggle {
				display: inline-block;
				position: absolute;
				top: 0;
				right: 0;
			}

			// when open on mobile
			&.open {
				a.sub-menu--slide-toggle {
					top: -2px;
					@include rotate(180deg);
				}
			}

			// &:hover,
			&.current-menu-item {
				// border-bottom: 2px solid #000;
				> a {
					border-bottom: 1px solid $gray-medium;
				}
			}

			// on over
			&:hover {
				@media (min-width: $screen-sm-max) {
					> a {
						color: #000 !important;
						border-bottom: 1px solid #000;
					}
				}
			}

			// with submenu open
			&.sub-menu--open {
				@media (min-width: $screen-sm-max) {
					.sub-menu {
						opacity: 1;
						pointer-events: all;
					}
				}
			}
		}
	}

	// allow 2 container next to each other
	.menu-main-menu-container {
		display: inline-block;
		@media (max-width: $screen-xs-max) {
			display: block;
		}
	}

	// submenus
	.sub-menu {
		position: absolute;
		top: 63px - 20px;
		left: $grid-gutter-width * -1;
		width: calc(100% + #{$grid-gutter-width*2});
		background-color: transparent;
		z-index: $zindex-navbar;
		padding: 20px 0 0 0;
		opacity: 0;
		pointer-events: none;
		@include transition(all 200ms $easeInOutCubic);

		.inner {
			background-color: $gray-light;
			@include clearfix;
			padding: $grid-gutter-width/2 $grid-gutter-width;
		}

		@media (max-width: $screen-xs-max) {
			position: static;
			width: auto;
			pointer-events: all;
			top: inherit;
			left: inherit;
			opacity: 1;
			display: block;
			width: 100%;
			background-color: transparent !important;
			padding: 0;
			// border: 1px solid red;
			max-height: 0;
			overflow: hidden;
			margin: 0;
			padding: 0 $grid-gutter-width/4;

			.inner {
				background-color: transparent !important;
				padding: 0;
			}

			&.open {
				display: block;
				max-height: 1000px;
				overflow: visibile;
			}

		}

		// contains logo
		.sub-menu--label {
			width: 170px;
			float: left;

			@media (max-width: $screen-xs-max) {
				width: auto;
				float: none;
			}

			h5 {
				font-weight: 300;
				margin: 0;
			}

			// see all link
			a.sub-menu--see-all-link {
				@media (min-width: $screen-sm-max) {
					font-size: $font-size-h5;
					i {
						display: inline-block;
						position: relative;
						top: 2px;
						margin-left: 2px;
						// right: -2px;
					}
					&:hover {
						text-decoration: underline !important;
						// color: $color-gold !important;
					}
				}
				@media (max-width: $screen-xs-max) {
					position: relative;
					border-top: 1px solid $gray-border;
					border-bottom: 1px solid $gray-border;
					padding: $grid-gutter-width/2 $grid-gutter-width/4;
					margin: 0 ($grid-gutter-width/4) * -1 10px ($grid-gutter-width/4 * -1);
					font-weight: 500;
					display: block;
					i {
						display: inline-block;
						position: absolute;
						top: $grid-gutter-width/2;
						right: $grid-gutter-width/4;
					}
				}
			}
		}

		// main nav with sections
		ul.sub-menu--posts {
			@include list-unstyled;
			width: calc(100% - 170px);
			max-width: $screen-lg;
			float: left;
			padding: 0;
			margin: 0;
			@media (max-width: $screen-xs-max) {
				width: auto;
				float: none;
				padding: 15px 0;
			}
		}

		li {
			width: 20%;
			float: left;
			padding: 0 $grid-gutter-width/2 0 0 !important;
			margin: 0 !important;
			@media (max-width: $screen-xs-max) {
				width: 100%;
				float: none;
				margin-bottom: $grid-gutter-width/4 !important;
			}
		}

		// change post style
		// maybe not..
		.post {
			figure {
				@include box-gradient-shadow('bottom', rgba(0,0,0,0.35), 40%);
			}
			@media (max-width: $screen-xs-max) {
				@include clearfix;
				padding-right: 0;
				width: 100%;
				figure {
					width: 45%;
					float: left;
				}
				footer {
					float: right;
					width: 55%;
					margin-right: -18px;
				}
			}
		}

		// color variations
		&.videos,
		&.series {
			.inner {
				background-color: $gray;
				color: #fff;
			}
			a {
				color: #fff !important;
				@media (max-width: $screen-xs-max) {
					color: #000 !important;
				}
			}
		}

	}

	/**
	* social nav
	*/
	.social-nav {
		padding: $grid-gutter-width/2 30px;

		h4 {
			font-size: 18px;
			font-weight: 400;
			margin-top: 0;
			margin-bottom: $grid-gutter-width/2;
		}

		ul {
			@include list-unstyled;
			li {
				display: inline-block;
				font-size: 24px;
				margin-right: 25px;
				&:last-child {
					margin: 0;
				}
			}
		}

	}


}
