/**
* Ads
*/

// .ad
//
// Ads default
//
// Style guide: components.ads


.ad {
    // default margin for ads
    margin: 15px 0 15px 0;

    // .ad--bigbox
    //
    // Big boxes format
    //
    // Style guide: components.ads--bigbox

    &--bigbox {
        @extend .ad;
    }

    &.pull-right {
        float: right;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-right: $col-offset-width-right;
        // on large screen, snap on right side
        @media (min-width: 1440px) {
            position: absolute;
            right: $grid-gutter-width;
            float: none;
            margin: 0;
        }
        @media (max-width: $screen-sm-max) {
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            float: none;
        }
        @media (max-width: $screen-xs-max) {
            margin-right: 0;
            width: 100%;
        }
    }

    &.in-post {
        @media (min-width: $screen-sm-max) {
            border-top: 1px solid $gray-border;
            border-bottom: 1px solid $gray-border;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
            position: relative;
            &:before {
                content: "Publicité";
                position: absolute;
                top: 0;
                left: 0;
                display: inline-block;
                background-color: $gray-border;
                padding: 4px 4px 2px 4px;
                font-size: 10px;
                color: $gray-light;
            }
        }
        @media (max-width: $screen-xs-max) {
            background-color: $gray-light;
            margin-left: $grid-gutter-width/2 * -1;
            margin-right: $grid-gutter-width/2 * -1;
            // min-height: 300px;
            display: flex;
            align-items: center;
            margin-bottom: $padding-large-vertical;
            > div {
                padding-top: 15px;
                padding-bottom: 15px;
                text-align: center;
                * {
                    display: inline-block;
                }
            }
        }
    }

}

/**
* ads in archives
*/

.archives-ads {
    background-color: $gray-light;
    padding-top: $padding-base-vertical * 2;
    padding-bottom: $padding-base-vertical * 2;
    margin-bottom: $padding-large-vertical;
    @media (max-width: $screen-xs-max) {
        margin-left: $grid-gutter-width/2 * -1;
        margin-right: $grid-gutter-width/2 * -1;
        padding-top: $padding-base-vertical / 2;
        padding-bottom: $padding-base-vertical / 2;
        ins {
            display: block !important;
            width: 100vw;
        }
        .adrotate_widgets > div {
            padding-bottom: 0;
        }
    }
}

/**
* in adrotate
*/

.adrotate_widgets {
    clear: both;
    > div {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    @media (max-width: $screen-xs-max) {
        background-color: $gray-light;
        margin-left: $grid-gutter-width/2 * -1;
        margin-right: $grid-gutter-width/2 * -1;
        // min-height: 300px;
        display: flex;
        align-items: center;
        > div {
            // align-items: center;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}
