// [data-slide-toggle]
//
// Describe me
//
// .chevron   - A font icon element
// .open      - When open, invert icon orientation
//
// Style guide: components.buttons

a[data-slide-toggle] {
	.chevron {
		padding-left: 5px;
		position: relative;
		display: inline-block;
	}
	&.open {
		.chevron {
			padding-left: 0px;
			padding-right: 5px;
			@include rotate(180deg);
		}
	}
}


/**
* Play button
*/

// .btn-play
//
// various play button style
//
// .small        - smaller version
// .centered     - centered with parent
// .bottom-left  - bottom left aligned
// .outlined     - outlined version
//
// Style guide: components.buttons


.btn-play {
	display: inline-block;
	font-size: 38px;
	color: #fff;
	background-color: rgba(0,0,0,0.75);
	@include transition(all 250ms);
	width: 70px;
	height: 70px;
	border-radius: 50%;
	text-align: center;

	i {
		position: relative;
		right: -3px;
		top: 12px;
	}

	@media (max-width: $screen-md-max) {
		width: 48px;
		height: 48px;
		font-size: 28px;
		i {
			top: 7px;
		}
	}

	&:hover {
		background-color: #fff;
		color: #000;
	}

	&.small {
		height: 36px;
		width: 36px;
		font-size: 18px;
		z-index: $zindex-tooltip;
		i {
			right: -1px;
			top: 6px;
		};
	}

	&.centered {
		@include centered-with-parent();
		z-index: $zindex-navbar - 2;
	}

	&.bottom-left {
		position: absolute;
		left: $grid-gutter-width/2;
		bottom: $grid-gutter-width/2;
		@media (max-width: $screen-xs-max) {
			left: $grid-gutter-width/4;
			bottom: $grid-gutter-width/4;
		}
	}

	&--outlined {
		@extend .btn-play;
		background-color: transparent;
		border: 2px solid #fff;
	}

}

/**
* Close video button
*/

.btn-close-video {
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    @include translate(0,-50%);
    z-index: $zindex-navbar + 1;
    @include square(30px);
    background-color: #000;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    opacity: 0;
    pointer-events: none;
    i {
        font-size: 20px;
        position: relative;
    }
    &:hover {
        color: #000;
        background: #fff;
    }
    &.visible {
        opacity: 1;
        pointer-events: all;
    }
	@media (max-width: $screen-xs-max) {
		// display: none;
    top: 20px;
	}

}

/**
* Button default
*/

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 2px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal * 2, $font-size-base, $line-height-base * 0.75, $btn-border-radius-base);
  @include user-select(none);

  @media (max-width: $screen-xs-max) {
  	@include button-size($padding-base-vertical/1.25, $padding-base-horizontal * 1.5, $font-size-base, $line-height-base * 0.75, $btn-border-radius-base);
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}



// Alternate buttons
// --------------------------------------------------

.btn-outlined {
	@include button-variant($btn-default-color, transparent, #000);
	// &:hover {
	// 	@include button-variant($btn-default-color, #fff, #000);
	// }
}

.btn-outlined-inverted {
  @include button-variant(#fff, transparent, #fff);
  &:hover {
	  @include button-variant($btn-default-color, #fff, #fff);
  }
}

.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
  @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
  @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
  @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
  @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
  @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Button Sizes
// --------------------------------------------------

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $btn-border-radius-large);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $btn-border-radius-small);
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
