// wpcf7-form
//
// Contact Form 7 Plugin : defaults overide and theme style
//
// Style guide: components.contact-forms-7

.wpcf7-form {
	margin-bottom: $padding-large-vertical;

	p {
		margin-bottom: $padding-base-vertical !important;
	}

	input {
		border: 1px solid $gray-border;
		@media (max-width: $screen-xs-max) {
			max-width: 100%;
		}
	}

	textarea {
		border: 1px solid $gray-border;
		height: 200px;
		@media (max-width: $screen-xs-max) {
			max-width: 100%;
		}
	}

	input[type="submit"],
	button[type="submit"] {
		background: #000;
		color: #fff;
		font-weight: 500;
		font-size: 18px;
		padding: 5px 40px 2px 40px;
		border: none;
	}

}
