/**
* Various nav elements
* Note: not main nav, content area navs
*/

/**
* Sidebar nav
*/

.sidebar-nav {
    ul {
        @include list-unstyled;
        margin: 0;
        padding: 0;
        font-family: $font-family-sans-serif-alt;
        font-size: 16px;
        li {
            margin-bottom: $padding-base-vertical;
            &.current_page_item {
                a {
                    color: #000;
                }
            }
        }
    }
}


/**
* Tabs
*/

// .tabs
//
// Default tabs system
//
// Style guide: components.tabs

.tabs {
    // display: none;

    ul {
        @include list-unstyled;

        h3, h4, h5 {
            margin: 0;
            font-weight: 500;
        }

        a {
            color: $gray-medium;
        }

        a:hover,
        a:active,
        a:focus {
            color: #fff;
            text-decoration: none;
        }

        li {
            display: inline-block;
            border-right: 1px solid $gray-dark;
            padding-right: 10px;
            margin-right: 5px;
            &.active {
                a {
                    color: #fff;
                }
            }
            &:last-child {
                border-right: none;
            }
        }
    }

}

// tab content
.tab-content {
    display: none;
    &.visible {
        display: block;
    }
}
