/**
* Search bar
*/


#search-bar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	// height: calc(100% - #{$header-height});
	height: 100%;
	background-color: #fff;
	z-index: $zindex-modal;
	@include translate(-100%,0);
	// pointer-events: none;

	.admin-bar & {
		// top: $header-height + 31px;
		// height: calc(100% - #{$header-height + 31px});
	}

	.container {
		padding-top: $padding-large-vertical + ($header-height * 1.5);
		padding-bottom: $padding-large-vertical;
		@media (max-width: $screen-xs-max) {
			overflow-y: auto;
			height: 100%;
			padding-top: $padding-large-vertical + 15px;
		}
	}

	&.open {
		@include transition(all 300ms $easeInOutQuint);
		@include translate(0,0);
		// pointer-events: all;
	}

	&.close {
		opacity: 1;
		@include translate(100%,0);
		@include transition(all 500ms $easeInOutQuint);
	}

	/**
	* close button
	*/

	.search-bar--close {
		position: absolute;
		top: 3px;
		right: 44px;
		font-size: 52px;
		@media (max-width: $screen-xs-max) {
			right: 20px;
			top: 0;
		}
	}


	/**
	* Footer with posts
	*/
	footer {
		@include clearfix;

		.sidebar-widget {
			display: block !important;
		}

		@media (max-width: $screen-sm-max) {
			padding-right: $grid-gutter-width/2;
		}

		.widget--header {
			display: none;
		}

		.widget--content {
			float: left;
			width: 33.3333%;
			@media (max-width: $screen-sm-max) {
				width: auto;
				float: none;
			}
		}

		.widget--content--header {
			@media (max-width: $screen-xs-max) {
				margin-left: $grid-gutter-width/2;
				border-bottom: 1px solid $gray-border;
				// border-radius: 6px;
				// background-color: $gray-lighter;
				font-size: 18px;
				padding: 0 0 $padding-base-vertical - 2 0;
				margin-bottom: $padding-base-vertical;
				h4 {
					margin: 0;
					padding: 0;
				}
			}
		}

		.widget--content {
			@media (max-width: $screen-xs-max) {
				@include clearfix;
			}
			article.post-small-sidebar {
				@media (max-width: $screen-xs-max) {
					// width: 50%;
					// float: left;
					// margin-bottom: $padding-base-vertical*2;
				}
			}

			// show article posts
			&.articles {
				display: block;
			}
		}

	}

}


/**
* the search form
*/

.search-form {

	.screen-reader-text {
		display: none;
	}

	label {
		display: block;
	}

	input[type="search"] {
		display: block;
		width: calc(100%);
		border: none;
		font-size: 48px;
		font-family: $font-family-sans-serif-alt;
		background-color: transparent;
		font-weight: 600;
		&:focus {
			outline: none;
		}

		@media (max-width: $screen-xs-max) {
			border: 1px solid $gray-border;
			border-radius: 6px;
			background-color: $gray-lighter;
			font-size: 18px;
			padding: 10px;
		}

	}

	.search-submit {
		display: none;
	}

}

// inside archive header (search.php)
.archive-header {

	.search-form {
		margin-left: 10px;
		display: inline-block;
		input[type="search"] {
			border-bottom: 1px solid $gray-light;
			width: calc(100% - 40px);
			padding-bottom: 10px;
		}
	}

}
