/**
* Main hub section util classes
*/

.section--sep {
	margin-top: 30px;
	margin-bottom: 30px;
	color: $gray-dark;
	position: relative;

	h4 {
		margin-top: 0;
		margin-bottom: 0;
	}

	nav.section--sep--menu {
		position: absolute;
		right: $grid-gutter-width/2;
		top: 0;

		@media (max-width: $screen-xs-max) {
			// top: -5px;
		}

		a {
			color: $gray-darkest;
			i {
				padding-left: 10px;
				position: relative;
				top: 1px;
			}
		}

		// slider arrows
		a.slider--arrow--prev,
		a.slider--arrow--next {
			font-size: 28px;
			position: relative;
			top: -4px;
			color: $gray-medium;
			&:hover {
				color: $gray-darkest;
			}
			&.swiper-button-disabled {
				pointer-events: none;
				opacity: 0.25;
			}
		}

	}

	&.border-bottom {
		h4, .h4 {
			border-bottom: 1px solid $gray-border;
			padding-bottom: 15px;
		}
	}

	.section--sep--menu--items {
		border-top: 1px solid $gray-border;
		margin-top: 15px;
		padding-top: 15px;
		padding-bottom: 10px;
		@include content-columns(3);
		padding-right: 50%;

		@media (max-width: $screen-md-max) {
			padding-right: 30%;
		}
		@media (max-width: $screen-sm-max) {
			padding-right: 0;
		}
		@media (max-width: $screen-xs-max) {
			@include content-columns(2);
		}

		a {
			color: $gray-darkest;
			font-size: 15px;
			display: inline-block;
			margin-bottom: 5px;
			&:hover {
				color: $color-gold;
			}
		}

		.current-cat {
			a {
				font-weight: bold;
			}
		}
	}

}


.sep-line {
	// margin-top: $padding-large-vertical*2;
	// margin-bottom: $padding-large-vertical*2;
	padding: $padding-large-vertical $padding-large-horizontal;
	margin: 0;
	clear: both;
	hr {
		border-color: $gray-light;
		margin: 0;
	}
}
