/**
* Base body, html
*/

body {
    min-height: 1000px;
    background-color: #fff;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    // overflow-x: hidden; // hide horizontal scroll for ever

    &.no-scroll--y {
        // overflow-y: hidden;
    }

    // default with overflow hidden on X
    max-width: 100vw;
    overflow-x: hidden;

    .desktop-device & {
        // overflow-x: visible;
    }

}

// hide scroll bar on smaller screen for ever
main {
    max-width: 100vw;
    overflow: hidden;
    //
    .desktop-device & {
        overflow: visible;
    }
}
