/**
* Custom font face
*/

$font-path: '../fonts/';


/**
* Sans serif font Suisse BP Intl
*/

@font-face {
	font-family: 'Suisse BP Intl';
	src: url('#{$font-path}subset-SuisseBPIntl-Regular.eot');
	src: local('Suisse BP Intl Regular'), local('SuisseBPIntl-Regular'),
		url('#{$font-path}subset-SuisseBPIntl-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-SuisseBPIntl-Regular.woff') format('woff'),
		url('#{$font-path}subset-SuisseBPIntl-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse BP Intl';
	src: url('#{$font-path}subset-SuisseBPIntl-RegularItalic.eot');
	src: local('Suisse BP Intl Regular Italic'), local('SuisseBPIntl-RegularItalic'),
		url('#{$font-path}subset-SuisseBPIntl-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-SuisseBPIntl-RegularItalic.woff') format('woff'),
		url('#{$font-path}subset-SuisseBPIntl-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Suisse BP Intl';
	src: url('#{$font-path}hinted-subset-SuisseBPIntl-Medium.eot');
	src: local('Suisse BP Int Medium'), local('SuisseBPIntl-Medium'),
		url('#{$font-path}hinted-subset-SuisseBPIntl-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}hinted-subset-SuisseBPIntl-Medium.woff') format('woff'),
		url('#{$font-path}hinted-subset-SuisseBPIntl-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse BP Intl';
	src: url('#{$font-path}hinted-subset-SuisseBPIntl-MediumItalic.eot');
	src: local('Suisse BP Int Medium Italic'), local('SuisseBPIntl-MediumItalic'),
		url('#{$font-path}hinted-subset-SuisseBPIntl-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}hinted-subset-SuisseBPIntl-MediumItalic.woff') format('woff'),
		url('#{$font-path}hinted-subset-SuisseBPIntl-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Suisse BP Intl';
	src: url('#{$font-path}subset-SuisseBPIntl-Bold.eot');
	src: local('Suisse BP Intl Bold'), local('SuisseBPIntl-Bold'),
		url('#{$font-path}subset-SuisseBPIntl-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-SuisseBPIntl-Bold.woff') format('woff'),
		url('#{$font-path}subset-SuisseBPIntl-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Suisse BP Intl';
	src: url('#{$font-path}subset-SuisseBPIntl-BoldItalic.eot');
	src: local('Suisse BP Intl Bold Italic'), local('SuisseBPIntl-BoldItalic'),
		url('#{$font-path}subset-SuisseBPIntl-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-SuisseBPIntl-BoldItalic.woff') format('woff'),
		url('#{$font-path}subset-SuisseBPIntl-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}



/**
* Sans serif font Circular Standard
*/

/* This stylesheet generated by Transfonter (http://transfonter.org) on August 3, 2016 6:31 PM */

@font-face {
	font-family: 'Circular Std';
	src: url('#{$font-path}subset-CircularStd-Book.eot');
	src: local('Circular Std Book'), local('CircularStd-Book'),
		url('#{$font-path}subset-CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-CircularStd-Book.woff') format('woff'),
		url('#{$font-path}subset-CircularStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('#{$font-path}subset-CircularStd-BookItalic.eot');
	src: local('Circular Std Book Italic'), local('CircularStd-BookItalic'),
		url('#{$font-path}subset-CircularStd-BookItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-CircularStd-BookItalic.woff') format('woff'),
		url('#{$font-path}subset-CircularStd-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Circular Std';
	src: url('#{$font-path}subset-CircularStd-Bold.eot');
	src: local('Circular Std Bold'), local('CircularStd-Bold'),
		url('#{$font-path}subset-CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-CircularStd-Bold.woff') format('woff'),
		url('#{$font-path}subset-CircularStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('#{$font-path}subset-CircularStd-BoldItalic.eot');
	src: local('Circular Std Bold Italic'), local('CircularStd-BoldItalic'),
		url('#{$font-path}subset-CircularStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-CircularStd-BoldItalic.woff') format('woff'),
		url('#{$font-path}subset-CircularStd-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}


/**
* Serif font
*/

@font-face {
	font-family: 'Suisse Works';
	src: url('#{$font-path}subset-SuisseWorks.eot');
	src: local('Suisse Works'), local('SuisseWorks'),
		url('#{$font-path}subset-SuisseWorks.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-SuisseWorks.woff') format('woff'),
		url('#{$font-path}subset-SuisseWorks.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse Works';
	src: url('#{$font-path}subset-SuisseWorks-Bold.eot');
	src: local('Suisse Works Bold'), local('SuisseWorks-Bold'),
		url('#{$font-path}subset-SuisseWorks-Bold.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-SuisseWorks-Bold.woff') format('woff'),
		url('#{$font-path}subset-SuisseWorks-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse Works';
	src: url('#{$font-path}subset-SuisseWorks-Italic.eot');
	src: local('Suisse Works Italic'), local('SuisseWorks-Italic'),
		url('#{$font-path}subset-SuisseWorks-Italic.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-SuisseWorks-Italic.woff') format('woff'),
		url('#{$font-path}subset-SuisseWorks-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Suisse Works Bold';
	src: url('#{$font-path}subset-SuisseWorks-BoldItalic.eot');
	src: local('Suisse Works Bold Italic'), local('SuisseWorks-BoldItalic'),
		url('#{$font-path}subset-SuisseWorks-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}subset-SuisseWorks-BoldItalic.woff') format('woff'),
		url('#{$font-path}subset-SuisseWorks-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Suisse Works';
	src: url('#{$font-path}hinted-subset-SuisseWorks-Medium.eot');
	src: local('Suisse Works Medium'), local('SuisseWorks-Medium'),
		url('#{$font-path}hinted-subset-SuisseWorks-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}hinted-subset-SuisseWorks-Medium.woff') format('woff'),
		url('#{$font-path}hinted-subset-SuisseWorks-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Suisse Works Medium';
	src: url('#{$font-path}hinted-subset-SuisseWorks-MediumItalic.eot');
	src: local('Suisse Works Medium Italic'), local('SuisseWorks-MediumItalic'),
		url('#{$font-path}hinted-subset-SuisseWorks-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('#{$font-path}hinted-subset-SuisseWorks-MediumItalic.woff') format('woff'),
		url('#{$font-path}hinted-subset-SuisseWorks-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}



/**
* Font weight classes
*/

.fw-normal {
	font-weight: 500;
}

.fw-bold {
	font-weight: 700;
}

/**
* Font family
*/

.serif {
	font-family: $font-family-serif !important;
}

.sans-serif {
	font-family: $font-family-sans-serif !important;
}

.sans-serif-suisse {
	font-family: $font-sans !important;
}

.sans-serif-circular {
	font-family: $font-sans-alt !important;
}
