/**
* Defaults archive page
*/


$sidebar-width: 300px + $grid-gutter-width;

.archive-default {

	/**
	* header
	*/
	.archive-header {
		margin-top: $header-height;
		margin-bottom: $padding-large-vertical;
		background-color: $gray-medium;
		height: 75vh;

		.header-is-transparent & {
			margin-top: 0;
		}

		@media (max-width: $screen-xs-max) {
			height: auto;
			@media (max-width: $screen-xs-max) {
				margin-bottom: $grid-gutter-width/2;
			}
		}

		.content {
			height: 100%;
			@media (max-width: $screen-xs-max) {
				height: auto;
			}
		}

		.post-section-tag {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.50);
			padding: 12px 25px;
			font-weight: 500;
			font-size: 14px;
			color: #fff;
			margin: 0;
			z-index: 10;
		}

		.archive-title {
			position: absolute;
			z-index: 10;
			top: $grid-gutter-width * 2 + $header-height - 15px;
			left: $grid-gutter-width;
			color: #fff;
			font-family: $font-sans;
			margin: 0;
			// display: none;
			@media (max-width: $screen-xs-max) {
				font-size: 14px;
				top: $grid-gutter-width + $header-height/1.5;
				left: $grid-gutter-width/2;
			}
		}

		// inverted, with no image or post
		&.no-featured-posts {
			background-color: transparent;
			height: auto;
			padding-top: $padding-large-vertical;
			.archive-title {
				position: static;
				color: $text-color;
				margin-left: $grid-gutter-width;
				margin-bottom: 0;
				@media (max-width: $screen-xs-max) {
					margin-left: $grid-gutter-width/2;
				}
			}
		}

		// featured posts columns
		.post-featured {
			width: 66%;
			float: left;

			.entry-title {
				font-size: 32px;
			}

			&:after {
				@include transition(all 500ms);
				opacity: 0.85;
				@media (max-width: $screen-xs-max) {
					opacity: 1;
				}
			}

			// second column is smaller
			& + .post-featured {
				width: 34%;

				&:before {
					position: absolute;
					content: "";
					top: 0;
					left: 0;
					width: 60px;
					height: 100%;
					z-index: 1;
					@include gradient-horizontal(rgba(0,0,0,0.25), transparent);
				}


			}

			/**
			* smaller screen
			*/

			@media (max-width: $screen-sm-max) {
				width: 50% !important;
				.entry-title {
					font-size: 28px;
				}
			}

			/**
			* mobile
			*/
			@media (max-width: $screen-xs-max) {
				float: none;
				width: 100% !important;
				.entry-title {
					font-size: 22px !important;
				}
			}

			/**
			* Special font-style for dossiers and guides
			*/
			&.dossiers,
			&.guides {
				// font-family: $font-family-serif;
				h1, h2, h3, h4 {
					font-family: $font-family-serif;
				}
			}

			&:hover {
				&:after {
					opacity: 1;
					// @include gradient-vertical(transparent, rgba(0,0,0,0.85));
				}
			}

		}

		// when with a slider post on top
		&.with-slider-post {
			// height: calc(100vh - 60px);
			.post-slider {
				height: 40%;
			}
			.post-featured {
				height: 60%;
			}
			@media (max-width: $screen-xs-max) {
				height: auto;
				overflow: inherit;
				.post-slider {
					// height: 40vh;
				}
			}
			&.with-slider-post-fullscren {
				height: 150vh;
				@media (max-width: $screen-xs-max) {
					height: 155vh;
				}
				.post-slider {
					height: 90vh;
				}
				.post-featured {
					height: 60vh;
				}
			}
		}
	}

	/**
	* Sticky posts
	*/
	.archive--sticky-posts {
		margin-bottom: $padding-large-vertical;

		header.section--sep {
			@media (min-width: $screen-sm-max) {
				margin-top: -17px;
			}
		}

		@media (min-width: $screen-sm-max) {
			padding-left: $grid-gutter-width !important;
		}

		@media (max-width: $screen-xs-max) {
			margin-bottom: $padding-large-vertical;
		}

	}

	/**
	* Posts in left col
	*/
	.archive-posts {
		width: calc(100% - #{$sidebar-width});
		float: left;
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
		@media (max-width: $screen-xs-max) {
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
			width: calc(100%);
			float: none;
		}
	}

	/**
	* Sidebar with bigbox
	*/
	.archive-sidebar {
		float: right;
		width: $sidebar-width;
		padding-left: 0;
		padding-right: $grid-gutter-width;
		@media (max-width: $screen-xs-max) {
			float: none;
			width: calc(100%);
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
		}

		// ads
		.a-single {
			margin-bottom: $padding-base-vertical;
		}

	}

}

/**
* Sidebar
*/

.sidebar-widget {
	margin-top: $padding-large-vertical/2;
	margin-bottom: $padding-large-vertical/2;

	h2, h3, h4, h5 {
		font-family: $font-family-sans-serif-alt;
	}

	header.widget--header {
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
		padding-bottom: 15px;
		margin-bottom: 15px;
		border-bottom: 1px solid $gray-border;
		h3 {
			font-size: 24px;
			margin: 0;
		}
	}

	.widget--content {
		margin-bottom: 30px;
	}

	.widget--content--header {
		h4 {
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
			font-size: 14px;
			font-weight: 500;
			color: $gray-medium;
		}
	}

	.post-small {
		margin-bottom: $padding-base-vertical;
	}

	// hide articles
	.widget--content.articles {
		display: none;
	}

}

/**
* Hightlighted posts in archives (ie: black videos panel on homepage)
*/

.archives--hightlighted-posts {
	background-color: lighten($gray-base, 10%);
	color: #fff;
	margin-bottom: $padding-large-vertical;
	padding-top: $padding-large-vertical/2;
	padding-bottom: $padding-large-vertical/2;
	min-height: 400px;

	header {
		h3 {
			@media (max-width: $screen-xs-max) {
				margin-top: 0;
				margin-bottom: 0px;
			}
		}
	}

	> .container-fluid.container-fluid--max-width-xl {
		padding-left: $grid-gutter-width;
		padding-right: $grid-gutter-width;
		@media (max-width: $screen-xs-max) {
			padding-left: $grid-gutter-width/4;
			padding-right: $grid-gutter-width/4;
		}
	}

	// set slider with hidden overflow
	.swiper-container.swiper-container-horizontal {
		overflow: hidden;
		.swiper-wrapper {
			cursor: default;
		}
		@media (max-width: $screen-xs-max) {
			overflow: visible;
		}
	}

	.hightlighted-posts--content-slider {
		padding-top: $padding-large-vertical/2;
		padding-bottom: $padding-large-vertical;

		@media (max-width: $screen-md-max) {
			padding-bottom: $padding-large-vertical/2;
		}

		@media (max-width: $screen-xs-max) {
			padding-bottom: $padding-large-vertical/4;
		}
	}

	nav.hightlighted-posts--nav-slider {
		padding-bottom: $padding-large-vertical/2;

		@media (max-width: $screen-md-max) {
			padding-bottom: $padding-base-vertical;

		}

		@media (max-width: $screen-xs-max) {
			margin-right: $grid-gutter-width/2 * -1;
			padding-bottom: $padding-large-vertical/2;
		}

		// each slide
		.hightlighted-posts--nav-slide {
			figure {
				position: relative;
				@include box-maker(65%);
				.play-icon {
					position: absolute;
					bottom: 5px;
					left: $grid-gutter-width/3;
				}
				.video--duration {
					bottom: 5px;
					right: $grid-gutter-width/3;
				}
			}
			@media (max-width: $screen-xs-max) {
				h3 {
					font-size: 12px;
					font-weight: 500;
					@include text-overflow();
				}
			}
		}

		.swiper-slide {
			opacity: 0.35;
			@include transition(opacity 500ms);
			&:hover,
			&.selected {
				opacity: 1;
			}
		}

		a {
			color: #fff;
		}

	}

}


/**
* Post navigation
*/
.posts-navigation {
	border-top: 1px solid $gray-border;
	padding-top: 15px;
	padding-bottom: 15px;

	@media (max-width: $screen-xs-max) {
		margin-bottom: 15px;
	}

	h2 {
		display: none;
	}

	a {
		color: $gray-medium;
		font-size: 18px;
		font-weight: 700;
		i {
			display: inline-block;
			position: relative;
			bottom: -2px;
		}
		&:hover {
			color: #000;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 14px;
		}
	}

	.nav-next {
		float: left;
		i {
			margin-right: 5px;
		}
	}

	.nav-previous {
		float: right;
		i {
			margin-left: 5px;
		}
	}
}
