/**
* Longforms articles box system
*/

.post--longform-content {
    // margin-top: 50px;
    font-family: $font-family-serif;

    // div for each line
    .post--longform-content--row {
        padding-top: 55px;
        position: relative;

        &.no-padding {
            aside.longform-bloc {
                margin-bottom: 0;
            }
        }

    }

    .container,
    .container-fluid {
        // nada!
    }

    .vertical-centered {
        @include vertical-centered();
        z-index: 1;

        // remove padding or margin on last child item in container
        & > :last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    /**
    * each bloc
    */

    aside.longform-bloc {
        position: relative;
        // overflow: hidden;
        margin-bottom: 50px;

        // block height ratio
        &.ratio--auto {
            height: 100%;
        }
        &.ratio--square {
            @include box-maker(100%);
        }
        &.ratio--half-square {
            @include box-maker(50%);
        }
        &.ratio--three-quarter {
            @include box-maker(40%);
        }
        &.ratio--third-square {
            @include box-maker(33.3333%);
        }
        &.ratio--four-six {
            @include box-maker(66.6666%);
        }
        &.ratio--quarter-square {
            @include box-maker(25%);
        }
        &.ratio--sixteen-nine {
            @include box-maker(56.25%);
        }
        &.ratio--portrait {
            @include box-maker(200%);
        }

        &.col-with-margin {
            .bg-filled {
                margin-left: $grid-gutter-width/2;
                margin-right: $grid-gutter-width/2;
                width: calc(100% - #{$grid-gutter-width});
            }
            figcaption {
                left: $grid-gutter-width/2;
            }
        }

    }

    /**
    * Page elements
    */

    .post--longform-col {
        position: relative;
        &--text {
            @extend .post--longform-col;
            padding-left: $grid-gutter-width/2;
            padding-right: $grid-gutter-width/2;
            p:last-child {
                margin-bottom: 0;
            }
            @media (max-width: $screen-xs-max) {
                padding-left: 0;
                padding-right: 0;
            }
        }
        &--image {
            img {
                margin-left: auto;
                margin-right: auto;
            }
        }

    }

    // remove margin on last Ps
    p {
        &:last-child {
            // margin-bottom: -10px;
        }
    }

    // headings in serif
    h1, h2, h3, h4, h5 {
        margin-top: 0;
    }

    /**
    * medias
    */

    .content-type--background_image {
        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            font-size: 13px;
            color: $gray-medium;
            margin: 0 0 ($padding-base-vertical * -1) 0;
            font-family: $font-family-sans-serif;
            @include translate(0,100%);
            @media (max-width: $screen-xs-max) {
                left: $grid-gutter-width/2;
                max-width: calc(100vw - #{$grid-gutter-width});
            }
        }
    }

    .container-fluid .content-type--background_image figcaption {
        left: $grid-gutter-width/2;
    }

    .content-type--video {
    }

    // background images
    .bg-filled {
        z-index: -1;
        &.background-fixed {
            background-attachment: fixed;
            transform: translateZ(0px);

            // do not work on touch device
            .touch-device & {
                background-attachment: scroll;
            }
        }
    }

    // remove shadow on player
    .video-player {
        @include box-shadow(0 0 0 transparent);
    }


}
