/**
* Sections video body
*/

body.term-videos {
	@media (min-width: $screen-sm-max) {
		background-color: $gray-light;
	}
}

/**
* Videos section index page
*/

.section-videos {

	.section--sep {
		@media (max-width: $screen-xs-max) {
			color: #000;
			margin: 0 0 20px 0;
			h4, .h4 {
				margin: 0;
			}
		}
	}

}



/**
* Video Post index
*/

.section-video--posts-index {


	header.section--sep {
		@media (max-width: $screen-xs-max) {
			margin-top: -5px;
		}
	}

	article.post {
		height: 300px;
		margin-bottom: $padding-large-vertical;
		@media (max-width: $screen-xs-max) {
			height: auto;
			margin-bottom: $padding-large-vertical/2;
		}
	}
}
