/**
* Sections video body
*/

body.term-series {
    background-color: $gray-light;
}

/**
* Sticky Series on section landing
*/

.sticky-series--list {
    color: $gray-light;
    background-color: $gray;
    padding-top: $padding-large-vertical/2;
    // padding-bottom: $padding-large-vertical;

    hgroup {
        padding-bottom: $padding-large-vertical/2;
    }

    .swiper-container {

        .slider--arrow--prev {
          @media (min-width: $screen-md-max) {
            left: -7vw !important;
          }
        }

        .slider--pagination {
          padding-top: 50px;
          padding-bottom: 45px;
        }
    }

    // add drop-shadow to post-compact
    .post-compact--taxonomy-serie {
        figure {
            @include box-shadow(0 0 8px rgba(0,0,0,0.8));
        }
    }
}



/**
* Series Header
*/

header.serie--header {
    height: 45vw;
    max-height: 700px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @include box-gradient-shadow($direction: 'both', $gradient: rgba(0,0,0,0.80));

    @media (max-width: $screen-sm-max) {
        height: 60vh;
    }

    @media (max-width: $screen-xs-max) {
        height: 80vh;
        max-height: inherit;
    }

    hgroup {
        padding-bottom: $grid-gutter-width;
        width: 100%;
        color: #fff;
        z-index: 10;
        align-self: flex-end;
        @media (max-width: $screen-xs-max) {
            padding-bottom: 0;
        }
    }

    .btn-play.centered {
        margin-top: -50px;
    }

    .adjacent-posts-navigation {
        margin-top: -35px;
    }

    .serie--header--sponsor-logo {
        position: absolute;
        z-index: 1;
        right: $grid-gutter-width;
        bottom: 20px;
        @media (max-width: $screen-sm-max) {
            bottom: 110px;
        }
        @media (max-width: $screen-xs-max) {
            right: $grid-gutter-width/4;
            bottom: 110px;
            img {
                max-width: 20vw;
            }
        }
    }

    .serie--header--serie-logo {
        margin-bottom: 30px;
        @media (max-width: $screen-xs-max) {
            max-width: 55vw;
            margin-bottom: 10px;
        }
    }

    a {
        color: #fff;
    }

    // video iframe
    iframe {
        @include video-iframe;
    }

    nav {
        // transfrom in a scrollable menu on mobile
        @media (max-width: $screen-xs-max) {
            position: relative;
            overflow-y: auto;
            padding: 0 0 30px 0;

            aside {
                float: none;
                width: 200vw;
                max-width: auto;
                float: left;
                display: inline;
            }

            h6 {
                display: block;
            }

            a.btn {
                float: left;
                position: relative;
                z-index: $zindex-navbar;
            }
        }

    }

}

/**
* Sponsor logo on mobile devices
*/

.serie-sponsor--mobile {
    // background-color: #000;
    text-align: left;
    margin-top: -10px;
    margin-bottom: $padding-base-vertical*2;
    a {
        display: block;
        position: relative;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray-dark;
        z-index: 1000;
    }
    img {
        display: block;
        max-height: 70px;
    }
}


/**
* Serie intro
*/

.serie--intro {
    color: $gray-light;
    background-color: $gray;
    padding: $padding-large-vertical 0;

    @media (max-width: $screen-xs-max) {
        padding: $padding-base-vertical 0;
        .entry-meta {
            @include entry-meta-mobile();
            border-bottom-color: $gray-dark;
            margin-top: 10px;
        }
    }

    a {
        color: #fff;
    }

    .serie--intro--description {
        min-height: 280px; // set min height same as a bigbox ad
        h3 {
            font-size: 32px;
            line-height: 1.3;
            @media (max-width: $screen-xs-max) {
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
        h5 {
            @media (max-width: $screen-xs-max) {
                margin-bottom: 10px;
            }
        }
        p {
            font-size: 17px;
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

    .serie--intro--episodes {
        nav {
            h5 {
                font-size: 16px;
            }
        }
        .swiper-slide {
            @include transition(opacity 500ms);
        }
        .swiper-slide:first-child {
            opacity: 0.5;
            &.swiper-slide-active {
                opacity: 1;
            }
        }
        .slider--arrow--prev,
        .slider--arrow--next {
          top: 41%;
        }
    }

    .share-widgets {
        // border: 1px solid red;
    }


}


/**
* Episode list
*/

.serie--episodes-slider {

    .swiper-slide {
        width: 640px;
    }

}

/**
* Popular and Sticky posts sliders
*/

.serie--posts-slider {

  .slider--arrow--prev,
  .slider--arrow--next {
    top: 7.5vw !important;
  }

  .slider--arrow--next {
    // right: $grid-gutter-width/3;
  }

  .post-compact--video {
      @media (max-width: $screen-xs-max) {
          figure {
              float: none;
              width: auto;
              position: relative;
          }
          .entry-meta {
              padding-top: $padding-base-vertical;
              float: none;
              width: auto;
          }
      }
  }

}


/**
* All Series list
*/

.all-series {
    margin-top: $padding-large-vertical;

    .section--sep {
        // margin-bottom: 10px;
    }

    .all-series--list {
        border: 1px solid #d7d6d6;
        padding: 25px 3px 0 3px;
        background-color: $gray-light;
        border-radius: $border-radius-base;
        @include clearfix();

        @media (max-width: $screen-xs-max) {
            margin-left: $grid-gutter-width/2;
            margin-right: $grid-gutter-width/2;
            padding: 25px 0 0 0;
        }

        li {
            margin-bottom: 25px;
            overflow: hidden;
            position: relative;
            vertical-align: top;

            a {
                color: #000;
                display: block;
                height: 145px;
            }

            figure {
                margin: 0;
                @include box-maker(60%);
                overflow: hidden;
                .bg-cover {
                  @include transition(all 2500ms);
                }
            }

            h4 {
                font-size: 18px;
                margin-bottom: 7px;
            }

            h6 {
                color: $gray-medium;
                font-weight: 500;
                font-size: 14px;
            }

            &:hover {
              h4 {
                text-decoration: underline;
              }
              figure {
                .bg-cover {
                  @include scale(1.05);
                }
              }
            }

        }
    }

}
