

/**
* Post meta
*/

// .entry-meta
//
// Default value for meta info for a blog posts
//
// Style guide: posts.entry-meta

.entry-meta {
    color: $gray-medium;
    position: relative;

    time {
        font-size: 13px;
    }

    .byline {
        margin-bottom: 0;
        .by {
            display: none;
        }
        a {
            color: $gray-dark;
            text-decoration: none;
            border-bottom: none;
            &:hover {
                color: $color-gold;
            }
        }
    }
}

// @mixin entry-meta()
//
// Mixin for special display case of meta on mobile devices
//
// @param-name - foobar.
//
// Style guide: posts.entry-meta-mobile

@mixin entry-meta-mobile {
    margin-bottom: $padding-base-vertical * 1.5;
    padding-bottom: $padding-base-vertical;
    border-bottom: 1px solid $gray-border;
    min-height: 50px;

    time {
        margin-bottom: -7px;
        display: block;
    }

    .byline {
        font-size: 14px;
    }

    .share-widgets {
        position: absolute;
        top: -13px;
        right: 0;
        h6 {
            display: none;
        }
    }
}


/**
* Category
*/

// .entry-category
//
// Default style for category in posts
//
// Style guide: posts.entry-category


.entry-category {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: $gray-medium;

    // .entry-category a
    //
    // links in .entry-category
    //
    // Style guide: posts.entry-category.a

    a {
        color: $gray-medium;
        &:hover {
            color: $color-gold;
        }
    }

    &.no-margin {
        padding-top: 0;
        padding-bottom: 0;
    }
}


/**
* Post's entry
*/

$figure-offset-margin: 250px;

.entry-content {
    position: relative;

    /**
    * Category
    */
    .entry-content--category {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        // margin-top: 0;

        &.no-margin {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    /**
    * page elements
    */

    h1,h2,h3,h4,h5,h6 {
        margin-top: 0;
        margin-bottom: $padding-large-vertical - 24px;
    }

    p {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: $padding-large-vertical - 7px;

        a {
            text-decoration: none;
            color: $text-color;
            border-bottom: 1px solid $text-color;
            &:hover {
                color: #000;
                border-bottom-color: #000;
            }
        }

        @media (max-width: $screen-xs-max) {
            line-height: 30px;
        }

    }



    hr {
        border-top-color: $gray-border;
    }

    blockquote {
        border-left: 5px solid $color-gold;
        color: $color-gold;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: $padding-large-vertical + 15px;
        h3 {
            font-size: 36px;
            @media (max-width: $screen-md-max) {
                font-size: 26px;
            }
            @media (max-width: $screen-xs-max) {
                font-size: 18px;
            }
        }
    }

    /**
    * tables
    */
    table {
        margin-left: $col-offset-width-left;
        margin-right: $col-offset-width-right;
        width: calc(100% + 52%) !important;

        td {
            vertical-align: top;
            width: auto !important;
            p {
                max-width: 90%;
            }
        }

        @media (max-width: $screen-xs-max) {
            margin-left: inherit;
            margin-right: inherit;
            width: 100%;
            td {
                display: block;
                width: 100%;
            }
        }
    }

    /**
    * iframes
    */

    iframe {
        @media (max-width: $screen-xs-max) {
            max-width: 100%;
        }
    }

    /**
    * Post figures and img tags
    */

    @mixin img-align-left {
        position: relative;
        float: left;
        padding-top: 7px;
        margin-left: $col-offset-width-left;
        margin-right: $padding-large-horizontal * 2;
        margin-bottom: $padding-base-vertical;
        @media (max-width: $screen-xs-max) {
            float: none;
            margin-left: $grid-gutter-width/2 * -1;
            margin-left: $grid-gutter-width/2 * -1;
            min-width: 100vw;
            max-width: 100vw;
            height: auto;
            img {
                min-width: 100vw;
                max-width: 100vw;
                height: auto;
            }
        }
    }

    @mixin img-align-right {
        position: relative;
        float: right;
        padding-top: 7px;
        margin-right: $col-offset-width-right;
        margin-left: $padding-large-vertical;
        margin-bottom: $padding-base-vertical;
        @media (max-width: $screen-xs-max) {
            float: none;
            margin-left: $grid-gutter-width/2 * -1;
            margin-left: $grid-gutter-width/2 * -1;
            min-width: 100vw;
            max-width: 100vw;
            height: auto;
            img {
                min-width: 100vw;
                max-width: 100vw;
                height: auto;
            }
        }
    }

    @mixin snap-to-side {
        position: relative;
        left: -31.25vw;
        width: calc(100% + 62.5vw);
        max-width: calc(100% + 62.5vw);
        @media (max-width: $screen-xs-max) {
            width: calc(100% + #{$grid-gutter-width});
            max-width: calc(100% + #{$grid-gutter-width});
            img {
                min-width: 100vw;
                max-width: 100vw;
            }
        }
    }

    // inline <img>
    img {

        // align none
        &.alignnone {
            // do nothing
            max-width: 100%;
            height: auto;

            // full size image and no align, snap to edge of text column,
            &.size-full {
                margin-left: $col-offset-width-left;
                width: calc(100% + 52%) !important;
                max-width: inherit;
                @media (max-width: $screen-xs-max) {
                    width: calc(100vw) !important;
                    margin-left: $grid-gutter-width/2 * -1;
                }
            }
        }

        // aligncenter
        &.aligncenter {
            width: 100%;
            max-width: 100%;
            height: auto;
            margin-left: center;
            margin-right: center;
            display: block;

            // full size image and centered, snap image on sides
            &.size-full {
                @media (min-width: $screen-sm-max) {
                    @include snap-to-side();
                }
                @media (max-width: $screen-xs-max) {
                    width: 100vw;
                    position: relative;
                    left: $grid-gutter-width/2 * -1;
                    max-width: inherit;
                }
            }
        }

        // align left
        &.alignleft {
            @include img-align-left();
        }

        // align right
        &.alignright {
            @include img-align-right();
        }


    }

    // figures with captions
    figure {

        // make image responsive
        img {
            max-width: 100%;
            height: auto;
        }

        // caption
        figcaption {
            max-width: 700px;
            padding-top: $padding-base-vertical;
            display: block;
            font-size: 13px;
            color: $gray-medium;
            margin: 0 0 4px 0;
            font-family: $font-family-sans-serif;
            @media (max-width: $screen-xs-max) {
                padding-left: $grid-gutter-width/2;
            }
        }


        // align none
        &.alignnone {
            margin-top: $padding-large-vertical;
            margin-bottom: $padding-large-vertical;
            width: 100% !important;

            figcaption {
                @media (min-width: $screen-md) {
                    position: relative;
                    left: $col-offset-width-left;
                }
                @media (max-width: $screen-xs-max) {
                    left: inherit;
                    padding-left: 0;
                }
            }

            // full sized image are outside bootstrap's container
            img.size-full {
                @media (min-width: $screen-md) {
                    position: relative;
                    left: $col-offset-width-left;
                    width: calc(100% + 52%);
                    max-width: inherit;
                }
                @media (max-width: $screen-xs-max) {
                    margin-left: $grid-gutter-width/2 * -1;
                    width: calc(100% + #{$grid-gutter-width});
                    max-width: inherit;
                }
            }
        }

        // align left
        &.alignleft {
            @include img-align-left();
        }

        // align right
        &.alignright {
            @include img-align-right();
        }

        // align center
        &.aligncenter {
            margin-top: $padding-large-vertical;
            margin-bottom: $padding-large-vertical;
            width: 100% !important;

            img {
                margin-left: auto;
                margin-right: auto;
                display: block;
                @media (max-width: $screen-xs-max) {
                    min-width: calc(100vw - #{$grid-gutter-width});
                    max-width: calc(100vw - #{$grid-gutter-width});
                }
            }

            figcaption {
                @media (max-width: $screen-xs-max) {
                    padding-left: 0;
                }
            }

            // full images in center mode are snapped to each side of screen
            img.size-full {
                @include snap-to-side();

                @media (max-width: $screen-xs-max) {
                    left: $grid-gutter-width/2 * -1;
                }

                // make caption bigger on top of image
                & + figcaption {
                    // @include snap-to-side();
                    // max-width: 50vw !important;
                    // margin-left: $padding-base-vertical;
                    //
                    @media (max-width: $screen-xs-max) {
                        padding-left: 0;
                    }
                }
            }
        }
    }
    // end <figure>


    // entry meta
    .entry-meta {
        @media (max-width: $screen-xs-max) {
            @include entry-meta-mobile();
        }
    }

    /**
    * specific to .entry-body
    */

    .entry-body {

        // pull blocquotes outside container
        blockquote {
            @media (min-width: $screen-md-max) {
                margin-left: $col-offset-width-left;
            }
        }

        ul, ol {
            padding-left: 15px;
            list-style-type: square;
            color: $link-color;
            li {
                font-size: 18px;
                padding-left: 0;
                margin-bottom: 10px;
            }
        }

        // pull videos outside container
        .embed-responsive {
            margin-bottom: $padding-large-vertical;
            // grow outside grid
            @media (min-width: $screen-md) {
                position: relative;
                left: $col-offset-width-left;
                width: calc(100% + 52%) !important;
                padding-bottom: calc(85%) !important;
            }
        }

        // inline slider
        .slider--default {
            position: relative;
            margin-left: $col-offset-width-left;
            @media (max-width: $screen-xs-max) {
                margin-left: 0;
            }
        }

        /**
        * force video background full width
        */
        [data-video-bg] {
            height: 100vh;
            background-color: #000;
            @include snap-to-side();
            > div {
                z-index: 0 !important;
            }
            @media (max-width: $screen-xs-max) {
                height: 40vh;
                background-color: transparent !important;
                left: ($grid-gutter-width/2) * -1;
                width: 100vw;
                // margin-left: ($grid-gutter-width/2) * -1;
                // @include snap-to-side();
                video {
                    object-fit: cover;
                    height: 100% !important;
                }
            }
        }

        //
        // Forms in posts body
        //
        form {

            .mc4wp-alert {
                text-align: center;
                p {
                    text-align: center;
                }
            }

            // mailchimp
            &.mc4wp-form {
                margin-top: -15px;
                @media (min-width: $screen-lg) {
                    width: 70%;
                    margin-left: auto;
                    margin-right: auto;
                }
                p {
                    position: relative;
                    input[type="text"],
                    input[type="email"] {
                        // border: none;
                        border: 2px solid $gray-light;
                        border-radius: 4px;
                        background-color: #fff;
                        color: #fff;
                        padding: 7px 10px 5px 10px;
                        color: #000;
                        font-size: 15px;
                        width: calc(82%);
                        font-weight: 500;
                        font-size: 1.75rem;
                        height: auto;
                        @media (max-width: $screen-md-max) {
                            width: calc(78%);
                        }
                        @media (max-width: $screen-xs-max) {
                            width: calc(70%);
                        }
                        &:focus {
                            outline: none;
                            border-color: $gray-light;
                        }

                    }

                    input[type='submit'] {
                        border: none;
                        background: $gray-light;
                        border-radius: 4px;
                        padding: 9px 15px 6px 15px;
                        position: absolute;
                        font-weight: bold;
                        font-size: 15px;
                        top: 0;
                        right: 0;
                        // transform: translateX(105%);
                        width: auto;
                        @include transition(all 200ms);
                        &:hover {
                            color: #fff;
                            background-color: #000;
                        }
                        @media (max-width: $screen-xs-max) {
                            // top: 11px;
                        }
                    }

                }
            }
        }

    }


    /**
    * Pages
    */
    &--pages {
        @extend .entry-content;
        .entry-meta {
            time,
            .author {
                display: none;
            }
        }
    }

    /**
    * Dossiers
    */
    &--guides {
        @extend .entry-content;

        .entry-body {
            h1,h2,h3,h4,h5,h6 {
                font-family: $font-family-serif;
            }
            font-family: $font-family-serif;
        }

        // guide's attached post list at bottom
        .guide--posts {
            padding: 25px 0;
            > header {
                color: #000;
                h4 {
                    font-weight: 700;
                    font-size: 32px;
                }
            }
        }

    }


    /**
    * Dossiers
    */
    &--dossiers {
        @extend .entry-content;

        .entry-body {
            h1,h2,h3,h4,h5,h6 {
                font-family: $font-family-serif;
            }
            font-family: $font-family-serif;
        }
    }

    /**
    * seres entry content
    */
    &--series,
    &--videos {
        @extend .entry-content;
        min-height: 340px;

        // on dark background on all device except mobile
        @media (min-width: $screen-sm-max) {
            background-color: $gray;
            padding: $header-height 0 $padding-large-vertical 0;
            color: #fff;

            a {
                color: #fff;
                &:hover {
                    color: $gray-lighter;
                }
            }

            .entry-meta {
                a {
                    color: #fff;
                }
            }

            .entry-body {
                a {
                    color: #fff;
                    border-bottom-color: #fff;
                    // text-decoration: underline;
                    &:hover {
                        color: $gray-medium;
                        border-bottom-color: $gray-medium;
                    }
                }
            }
        }

        @media (max-width: $screen-xs-max) {
            // empty for now
        }

    }

    /**
    * Videos
    */
    &--videos {
        @extend .entry-content;
        @media (min-width: $screen-sm-max) {
            background-color: #252525;
        }
    }

}



/**
* Post footer
*/


.post-footer {
    margin-top: 50px;
    > .container {
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        &:before {
            content: ".";
            width: 35%;
            position: absolute;
            top: 0;
            left: 50%;
            height: 1px;
            @include translate(-50%,0);
            border-top: 1px solid $gray-border;
        }
    }

}
