/**
* Post navigator
*/

.posts-navigator {

	header.posts-navigator--header {
		// margin-top: 15px;
		margin-bottom: 15px;
	}

	.posts-navigator--list {
		overflow: hidden;
		overflow-y: auto;
		height: 402px;
		margin: 0;
		@media (max-width: $screen-xs-max) {
			overflow: visible;
			overflow-y: visible;
			height: auto;
		}
	}

	.post-list--item {
		margin-bottom: $padding-base-vertical*2;
		position: relative;
		figure {
			position: relative;
			@include box-gradient-shadow($direction: 'bottom', $gradient: rgba(0,0,0,0.70));
		}
		figcaption {
			position: absolute;
			bottom: 0;
			left: $grid-gutter-width/2;
			right: 0px;
			z-index: 2;
			padding: 7px 10px;
			.video--duration {
				position: static;
				right: inherit;
				bottom: inherit;
				float: right;
			}
		}
		time {
			font-size: 12px;
		}
		// @media (max-width: $screen-xs-max) {
		// 	width: 50%;
		// 	float: left;
		// 	padding: 0 $grid-gutter-width/2;
		// }
	}

	// current post with different opacity
	.current-post {
		opacity: 0.5;
	}

}
