/**
* Post tracks
*/

.post-tracks {
	background-color: $gray-lighter;
	border: 1px solid transparent;
	display: none;
	position: relative;

	@media (max-width: $screen-xs-max) {
		padding: $grid-gutter-width;
		.single-post & {
			margin-bottom: 25px;
		}
	}

	.post-tracks--close {
		position: absolute;
		top: $grid-gutter-width/2;
		right: $grid-gutter-width/2;
		font-size: 22px;
	}

	.container {
		margin-top: 70px;
		margin-bottom: 50px;
		@media (max-width: $screen-xs-max) {
			margin-top: $grid-gutter-width/2.5;
			margin-bottom: $grid-gutter-width/2.5;
		}
	}

	li.labels {
		border-bottom: 1px solid $gray-border;
		background-color: transparent !important;
		margin-bottom: 0px;
		padding-bottom: 5px;
		h5 {
			font-weight: 300;
		}
	}

	li {
		// padding-left: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		h4 {
			font-weight: 400;
			font-size: 16px;
			margin: 0;
		}
	}

	li:nth-child(odd) {
		background-color: $gray-light;
	}

	a.post-tracks--link {
		border: 1px solid $gray-border;
		width: 23px;
		height: 23px;
		border-radius: 50%;
		display: inline-block;
		font-size: 13px;
		text-align: center;
		padding-top: 4px;
		position: absolute;
		top: 7px;
		right: 30px;
		@include transition(all 250ms);
		// display: none;
		&:hover {
			// border-color: #000;
			background-color: $gray-border;
		}
		@media (max-width: $screen-xs-max) {
			top: 15px;
		}
	}

}
