/**
* Featured post in archive or section top header
*/


.post-featured {
	height: 100%;
	position: relative;
	padding: $grid-gutter-width;
	display: flex;
	align-items: flex-start;
	@include box-gradient-shadow($direction: 'bottom', $gradient: rgba(0,0,0,0.75));

	@media (max-width: $screen-xs-max) {
		padding: $grid-gutter-width/2;
		height: 60vw !important;
	}

	.post-header {
		position: relative;
		z-index: 10;
		align-self: flex-end;
		padding: 0;
		margin: 0;
		color: #fff;

		a {
			color: #fff;
		}

		.entry-meta {
			display: flex;
			color: #fff;
			margin-bottom: 0;

			a {
				color: $color-gold;
			}

			.share-widgets,
      .shares-count {
				display: none;
			}

			.byline {
				order: 1;
				margin-right: 30px;
				.by {
					display: inline;
				}
			}

			time {
				display: inline-block;
				order: 2;
			}

		}

	}

}
