/**
* Slider posts on homepage
*/

.post-slider {
	position: relative;
	padding: $grid-gutter-width;
	display: flex;
  align-items: flex-start;
  height: 40%;
	@include box-gradient-shadow($direction: 'bottom', $gradient: rgba(0,0,0,0.70));

	// @media (max-width: $screen-xs-max) {
	// 	padding: $grid-gutter-width/2;
	// 	height: 60vw !important;
  // }

	.post-header {
		position: relative;
		z-index: 10;
		align-self: flex-end;
		padding: 0;
		margin: 0;
		width: 100%;
		color: #fff;

		.h3 {
			// font-size: 32px;
			@media (max-width: $screen-xs-max) {
				font-size: 22px;
				margin-bottom: 0;
			}
		}

		a {
			color: #fff;
		}

		nav {
			position: absolute;
			right: 0;
			bottom: 10px;
			.btn {
				// margin-right: $grid-gutter-width/2;
			}
			@media (max-width: $screen-xs-max) {
				position: static;
			}
		}
  }
  
  // when fullscreen with logo etc
  &.is-fullscreen {
		position: relative;
		// height: 75vh !important;
    .post-header {
      position: static;
      z-index: 10;
      align-self: flex-end;
			padding-left: 80px;
			@media (max-width: $screen-xs-max) {
				padding-left: 0;
			}
			img {
				&.is-centered {
					position: absolute;
					top: 45%;
					left: 50%;
					transform: translate3d(-50%,-50%,0);
				}
				@media (max-width: $screen-sm-max) {
					max-width: 85vw;
				}
			}
    }
    nav {
      position: relative;
			padding-top: 34px;
			.btn {
				margin-bottom: 10px;
			}
		}
		[data-video-bg] {
			// video {
			// 	@media (max-width: $screen-sm-max) {
			// 		display: none;
			// 	}
			// }
		}
  }

}
