/**
* WP Posts compact boxes
*/


.post-compact {
	margin-bottom: $padding-large-vertical;

	@media (max-width: $screen-xs-max) {
		position: relative;
	}

	aside {
		// no padding on right on smaller screen
		@media (max-width: $screen-md-max) {
			padding-right: 0;
		}
		// add padding on mobile
		@media (max-width: $screen-xs-max) {
			padding-right: $grid-gutter-width/2;
		}
	}

	figure {
		@include box-maker(80%);
		@include transition(all 500ms);
		@include box-gradient-shadow('bottom', rgba(0,0,0,0.65), 40%);
		position: relative;

		@media (max-width: $screen-md-max) {
			@include box-maker(110%);
		}

		@media (max-width: $screen-xs-max) {
			@include box-maker(70%);
		}

		.post-section-tag {
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,0.50);
			padding: 12px 25px;
			font-weight: 500;
			font-size: 14px;
			color: #fff;
			margin: 0;
		}

	}

	header {
		padding-top: 25px;

		@media (max-width: $screen-md-max) {
			padding-top: 0;
		}

		.entry-category {
			margin-bottom: 15px;
			@media (max-width: $screen-md-max) {
				font-size: 14px;
				margin-top: 0;
			}
			@media (max-width: $screen-xs-max) {
				display: none;
			}
		}

		.entry-title {
			font-size: 32px;
			margin-bottom: 15px;
			a {
				color: #000;
				&:hover {
					text-decoration: underline;
				}
			}
			@media (max-width: $screen-md-max) {
				font-size: 26px;
				margin-top: 0;
				margin-bottom: 10px;
			}
		}

		// move up with image
		@media (max-width: $screen-xs-max) {
			padding-top: $padding-base-vertical;
		}

	}

	.entry-summary {
		border-bottom: 1px solid $gray-border;
		padding-bottom: 15px;
		margin-bottom: 15px;

		@media (max-width: $screen-xs-max) {
			padding-top: 15px;
			display: none;
		}

		p {
			margin-bottom: 0;
			font-size: 17px;
			line-height: 1.6;
			@media (max-width: $screen-md-max) {
				font-size: 15px;
			}
		}

	}

	.entry-meta {
		font-family: $font-family-sans-serif;
		position: relative;
		display: flex;

		// @media (max-width: $screen-xs-max) {
		// 	position: static;
		// }

		.byline {
			order: 1;
			margin-right: 30px;

			a {
				color: $color-gold;
			}

			.by {
				display: inline;
			}
		}

		time {
			display: inline-block;
			order: 2;
			// @media (max-width: $screen-xs-max) {
			// 	display: block;
			// 	order: inherit;
			// 	position: absolute;
			// 	top: -20px;
			// }
		}

		// share without label
		.share-widgets,
    .shares-count {
			// float: right;
			margin-top: 0;
			position: absolute;
			top: 0;
			right: 0;
			h6, p.shares-count {
				display: none;
			}
			@media (max-width: $screen-xs-max) {
				display: none;
			}
		}
	}

	/**
	* when selected
	*/

	&.current {
		opacity: 0.5;
	}

	/**
	* on roll over
	*/
	&:hover {
		figure {
			@include box-shadow(0 0 10px rgba(0,0,0,0.70));
		}
	}

	// post associated to a guide
	&--guide,
	&--dossier {
		@extend .post-compact;

		header {
			.entry-title {
				font-family: $font-family-serif;
				line-height: 1.3;
			}
		}

	}

	// serie & taxo serie
	&--serie,
	&--taxonomy-serie {

		.episode-number {
			// padding-left: $grid-gutter-width/1.5;
			font-weight: 500;
			font-size: 26px;
			font-family: $font-family-sans-serif;
			@media (max-width: $screen-xs-max) {
				font-size: 18px;
				padding-left: $grid-gutter-width/3;
			}
		}

		// serie logo
		.post-compact--serie-logo {
			position: absolute;
			@include centered-with-parent();
			width: 70%;
			z-index: 100;
			text-align: center;
			img {
				display: inline-block;
				@include transition(all 1550ms);
				// @include scale(0.95);
				// opacity: 0.75;
			}
		}

		&.current {
			opacity: 0.65;
			figure {
				filter: grayscale(1);
			}
		}

		figure {
			overflow: hidden;
			position: relative;
			@include box-gradient-shadow($direction: 'bottom', $gradient: rgba(0,0,0,1));

			header {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				z-index: 1;
				padding: $grid-gutter-width/1.5;
				color: #fff;

				@media (max-width: $screen-xs-max) {
					padding: $grid-gutter-width/4;
				}

				a {
					color: #fff;
				}

				h3, h4, h5, h6 {
					margin-bottom: 0;
				}
			}

		}

		// entry title
		.entry-title {
			margin-top: 0;
			margin-bottom: 7px;
			font-size: 22px;
		}

		// entry categories
		.entry-category {
			margin: 0;
			font-weight: 500;
			font-size: 13px;
			text-transform: inherit;
			color: #fff;
		}

		.entry-summary {
			padding-left: $grid-gutter-width/1.5;
			padding-top: $grid-gutter-width/2.1;
			p {
				max-width: 85%;
				color: $gray-medium;
				font-size: 14px;
				line-height: 22px;
				font-family: $font-family-sans-serif-alt;
				margin-top: 0;
			}
		}

		&:hover {

			.post-compact--serie-logo {
				img {
					// @include scale(0.9);
					opacity: 1;
				}
			}
		}

	}

	// video, series, etc.
	&--video {

		.content {
			@include clearfix();
		}

		.episode-number {
			padding-left: $grid-gutter-width/1.5;
			font-weight: 500;
			font-size: 36px;
			font-family: $font-family-sans-serif;
		}

		// serie logo
		.post-compact--serie-logo {
			position: absolute;
			@include centered-with-parent();
			width: 70%;
			// max-width: 90%;
			img {
				@include transition(all 1550ms);
				// @include scale(0.95);
				// opacity: 0.85;
			}
		}

		figure {
			overflow: hidden;
			position: relative;
			@include transition(all 500ms);
			@include box-gradient-shadow($direction: 'bottom', $gradient: rgba(0,0,0,0.65));

			@media (max-width: $screen-xs-max) {
				width: 50%;
				float: left;
			}

			header {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				z-index: 1;
				padding: $grid-gutter-width/1.5;
				color: #fff;

				a {
					color: #fff;
				}

				h3, h4, h5, h6 {
					margin-bottom: 0;
				}
			}

		}


		// entry title
		.entry-title {
			margin-top: 0;
			margin-bottom: 5px;
			font-size: 24px;
			line-height: 1.25;
			font-weight: 500;
			@media (max-width: $screen-xs-max) {
				font-size: 16px;
			}
		}

		// entry categories
		.entry-category {
			margin: 10px 0 0 0;
			font-weight: 400;
			font-size: 14px;
			text-transform: inherit;
			color: #000;
			font-family: $font-family-sans-serif;
			@media (max-width: $screen-xs-max) {
				font-size: 12px;
			}
		}

		.entry-meta {
			padding: $grid-gutter-width/3 $grid-gutter-width/2;
			padding-bottom: 0;
			color: #000;

			@media (max-width: $screen-xs-max) {
				padding-top: $grid-gutter-width/4;
				padding-left: $grid-gutter-width/4;
				padding-top: 0;
				width: 50%;
				float: left;
			}

			a {
				color: #000;
				&:hover {
					color: $color-gold;
					// border-bottom: 2px solid $color-gold;
					text-decoration: underline;
				}
			}
		}

		&:hover {
			figure {
				// border: 1px solid red;
				@include box-shadow(0 0 10px rgba(0,0,0,0.70));
			}
		}

	}

	// video swiper slide
	&--video-slide {
		color: #fff;

		a {
			color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}

		.entry-meta {
			padding-left: 30px;
			@media (max-width: $screen-md-max) {
				padding-left: 0;
			}
		}

		.entry-summary {
			p {
				font-size: 18px;
				color: #fff;
				@media (max-width: $screen-md-max) {
					font-size: 15px;
				}
			}
		}

		// share widget changes
		.share-widgets {
			position: relative;
			margin-top: 15px;
			padding-top: 0;
			border-top: none;
			h6 {
				display: none;
			}
			p.shares-count {
				position: absolute;
				right: 0;
				top: 15px;
			}
		}

		// hide stuff in video player
		.video-player {
			.entry-title {
				display: none;
			}
			.entry-category {
				display: none;
			}
		}

	}

}
