/**
* Headers for post
*/


.post-header {
    padding: 100px 0 0 0;
    position: relative;
    margin-bottom: $padding-large-vertical;
    overflow: visible !important;

    @media (max-width: $screen-xs-max) {
        margin-bottom: $padding-base-vertical * 2;
    }

    // shared items
    [data-scroll-to] {
        position: absolute;
        z-index: 1;
        bottom: $grid-gutter-width;
        left: 50%;
        font-size: 28px;
        @include translate(-50%,0);
        @media (max-width: $screen-xs-max) {
            bottom: 0;
        }
    }

    .sponsor-logo {
        position: absolute;
        left: $grid-gutter-width;
        bottom: $grid-gutter-width;
        z-index: 1;
        text-align: left;

        h6 {
            font-weight: 500;
        }

        @media (max-width: $screen-xs-max) {
            position: static;
            width: 100%;
            text-align: center;
            padding: 15px 0;
            img {
                display: inline;
                max-width: 30vw;
            }
        }
    }

    // with video or image background
    &.with-background {
        min-height: 45vw;
        display: flex;
        align-items: flex-end;
        color: #fff;
        @include box-gradient-shadow($direction: 'both', $gradient: rgba(0,0,0,0.85), $height: 65%);


        @media (max-width: $screen-xs-max) {
            min-height: 65vh;
            // background-color: transparent !important;
        }

        // with WP admin bar
        .admin-bar & {
            min-height: calc(45vw - 30px);
        }

        hgroup {
            position: relative;
            z-index: 2;
            padding-bottom: 2vh;
            @media (max-width: $screen-xs-max) {
                width: 100%;
            }
        }
    }

    // container for pixel image preloader
    .preload-pixel-container {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    // on mobile, post with video is displayed right away
    &.with-embeded-video {

        @media (max-width: $screen-xs-max) {
            display: block;
            align-items: inherit;
            background: transparent !important;
            min-height: 35vw;
            color: #000;
            &:before {
                display: none;
            }
            &:after {
                display: none;
            }
        }

    }


    // the title
    h1.entry-title {
        font-size: 62px;
        @media (max-width: $screen-sm-max) {
            font-size: 42px;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 36px;
        }
    }

    .entry-subtitle {
        font-family: $font-family-sans-serif;
    }

    .entry-category {
        @media (max-width: $screen-xs-max) {
            font-size: 13px;
            color: #fff;
            margin-bottom: 4px;
            a {
                color: #fff;
                opacity: 0.5;
            }
        }
    }

    // standard
    &--articles {
        @extend .post-header;

        // embeded iframe
        iframe {
            @include video-iframe;

            // variation on mobile
            @media (max-width: $screen-xs-max) {
                opacity: 1;
                position: relative;
                top: inherit;
                left: inherit;
                pointer-events: all;
            }
        }

    }

    // guides
    &--guides {
        @extend .post-header;

        hgroup {

            h1, h2, h3, h4, h5 {
                font-family: $font-family-serif;
                font-weight: 700;
                margin-bottom: 40px;
            }

            .entry-subtitle {
                font-family: $font-family-sans-serif;
            }

            // small tab at bottom
            h5.guide--label {
                position: absolute;
                bottom: -10px;
                background-color: rgba(0,0,0,0.90);
                padding: 5px 40px;
                font-weight: 500;
                font-size: 18px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }

    }

    // dossiers
    &--dossiers {
        @extend .post-header;
        height: 100vh;
        padding-top: $header-height;
        color: #fff;
        display: flex;

        // with WP admin bar
        .admin-bar & {
            height: calc(100vh - 30px) !important;
        }

        hgroup {
            position: relative;
            z-index: 2;
            text-align: center;
            width: 100%;
            align-self: flex-end;
            padding-left: 12%;
            padding-right: 12%;
            padding-bottom: 12.5vh !important;

            @media (min-width: $screen-lg) {
                padding-left: 22%;
                padding-right: 22%;
            }

            @media (max-width: $screen-xs-max) {
                padding-left: $grid-gutter-width/2;
                padding-right: $grid-gutter-width/2;
                padding-bottom: 50px !important;
            }

            h1, h2, h3, h4 {
                font-family: $font-family-serif;
                font-weight: 500;
            }

            .entry-subtitle {
                font-size: 18px;
                line-height: 1.7;
                font-weight: 500;
                font-family: $font-family-serif;
                @media (max-width: $screen-xs-max) {
                    font-size: 12px;
                }
            }

            hr {
                border-width: 2px;
                border-color: rgba(255,255,255,0.25);
                margin-top: 30px;
                margin-bottom: 30px;
                @media (max-width: $screen-xs-max) {
                    border-width: 1px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
            }

            a {
                color: #fff;
            }

            // shares meta variation
            .entry-meta {
                font-family: $font-family-serif;
                padding-top: 30px;
                position: static;

                @media (max-width: $screen-xs-max) {
                    padding-top: 0;
                }

                // add extra bottom margin
                // margin-bottom: 15vh;

                .byline a {
                    color: #fff;
                }

                time {
                    font-style: italic;
                    display: none;
                }

                .byline {
                    font-style: italic;
                    color: #fff;
                    .by {
                        display: inline;
                    }
                }



            }

            // share widget variation
            .share-widgets {
                position: absolute;
                right: $grid-gutter-width;
                bottom: $padding-large-vertical;
                h6 {
                    display: none;
                }
                .shares-count {
                    color: #fff;
                    font-family: $font-family-sans-serif;
                }
                @media (max-width: $screen-xs-max) {
                    display: none;
                }
            }

        }
    }

    &--series {
        @extend .post-header;
        margin-bottom: 0;
        background-color: $gray-darker;
        padding-top: $header-height;
        color: #fff;

        

        // iframe {
        //   border: 1px solid red;
        // }

        .entry-subtitle {
            font-weight: 400;
        }

        a {
            color: #fff;
        }

        @media (max-width: $screen-xs-max) {
            margin-bottom: $padding-base-vertical*2;
            .entry-title {
                margin-bottom: 0;
            }
        }

    }

    // videos section post, always with a video-player element inside it
    &--videos {
        @extend .post-header;
        padding-top: 100px !important;
        margin-bottom: 0;
        background-color: $gray-darker;
        padding-top: $header-height;
        color: #fff;

        .entry-subtitle {
            font-weight: 400;
        }

        aside.player {
            border-right: 1px solid $gray-dark;
            padding-top: 0;
            padding-bottom: $grid-gutter-width/2.4;
        }

        a {
            color: #fff;
        }

        @media (max-width: $screen-xs-max) {
            background-color: #fff;
            padding-top: 82px !important;
            margin-bottom: 7px;

            aside.player {
                border-right: none;
            }

            .posts-navigator {
                display: none;
                a {
                    color: #000;
                }
            }
        }

    }

}


/**
* Post navigation arrows
*/
nav.adjacent-posts-navigation {
    position: absolute !important;
    width: 100%;
    left: 0;
    top: 50%;
    @include translate(0,-50%);
    pointer-events: none;
    z-index: $zindex-navbar - 2;
    > a {
        position: relative;
        z-index: 10;
        pointer-events: all;
        display: inline-block;
        vertical-align: middle;
        .adjacent-posts-navigation--circle {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            @include transition(all 500ms);
            @include size(50px, 50px);
            opacity: 0;
            display: inline-block;
            border: 2px solid #fff;
            border-radius: 50%;
            padding-top: 15px;
        }
        i {
            @include transition(all 500ms);
            display: inline-block;
            padding: 0 15px;
            font-size: 28px;
            position: relative;
            bottom: -5px;
        }
        &:hover {
            .adjacent-posts-navigation--circle {
                opacity: 1;
            }
            i {
                padding: 0 18px;
            }
        }
    }

    > a.next {
        float: right;
    }
}
