/**
* Small posts
*/

.post-small {

	figure {
		@include transition(all 500ms);
		@include box-maker(60%);
		@include box-gradient-shadow('bottom', rgba(0,0,0,0.45));
		position: relative;
		margin-bottom: $grid-gutter-width/4;
		color: #fff;

		.play-icon {
			position: absolute;
			bottom: 6px;
			left: $grid-gutter-width/4;
			z-index: 2;
		}

		.video--duration {
			font-size: 11px;
			bottom: $grid-gutter-width/4;
			right: $grid-gutter-width/4;
			z-index: 2;
		}

	}

	footer {

	}

	header {
		h2 {
			font-size: 15px;
			line-height: 1.3;
			font-weight: 400;
			margin: 0;
			font-family: $font-family-sans-serif;
			a {
				color: #000;
				&:hover {
					text-decoration: underline;
				}
			}
			@media (max-width: $screen-md-max) {
				font-size: 13px;
			}
		}
	}

	// hover
	&:hover {
		figure {
			@include box-shadow(0 0 10px rgba(0,0,0,0.70));
		}
		header h2 a {
			text-decoration: underline;
		}
	}


	// variations for sidebar style
	&-sidebar {
		@extend .post-small;
		figure {
			@include box-maker(65%);
		}
	}

}
