
/**
* Related posts
*/

.post-related {
	margin-top: $padding-large-vertical;
	border: 1px solid #d7d6d6;
	padding: 25px 7px 0 7px;
	background-color: #eee;
	border-radius: $border-radius-base;
	@include clearfix();

    &--slider {
        @extend .post-related;
        padding: 0;
        border: none;
        background-color: transparent;
		padding-top: 0;
		padding-bottom: 0;
		border-radius: 0;
		margin-top: 0;
    }

	li {
		height: 7vw;
		overflow: hidden;
		position: relative;
		vertical-align: top;
		// margin: 0 0 0 0;
		figure {
			margin: 0;
		}
		header {
			// @include text-overflow();
			// // border: 1px solid red;
			// height: 100px;
			// -webkit-line-clamp: 2;
			// -webkit-box-orient: vertical;
			// overflow: hidden;
			// text-overflow: ellipsis;
		}
		h4 {
			font-size: 14px;
			font-weight: 500;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h6 {
			color: $gray-medium;
			font-weight: 500;
		}
	}

}
